Repository near/nearcore, pull requests merged in 2019-02, with the labels that each got.

#513 Add range iter, removing storage and iters to Runtime
  core/storage/src/lib.rs
  core/wasm/runtest/src/lib.rs
  core/wasm/src/ext.rs
  node/runtime/src/ext.rs
  node/runtime/src/lib.rs
Labels: enhancement, runtime

#526 Fix network deadlock and improve tests
  node/network/src/peer.rs
  node/network/src/peer_manager.rs
Labels: bug, testnet

#529 Added testnet integration test
  core/txflow/src/txflow_task/mod.rs
  node/client/src/lib.rs
  node/network/src/peer.rs
  node/network/src/peer_manager.rs
  node/network/src/protocol.rs
  node/testnet/src/lib.rs
  tests/test_testnet.rs
Labels: testnet

#598 Client benchmarks
  Cargo.lock
  node/client/Cargo.toml
  node/client/benches/client_bench.rs
  node/client/src/lib.rs
  node/client/src/test_utils.rs
  node/coroutines/src/importer.rs
  node/coroutines/src/producer.rs
  tests/hello/assembly/main.near.ts
  tests/hello/assembly/main.ts
Labels: performance, testnet
