Repository near/nearcore, pull requests merged in 2024-01, with the labels that each got.

#10375 configure codecov properly
  .github/workflows/ci.yml
  codecov.yml
Labels: C-housekeeping

#10370 refactor: Fix delayed receipts trie key column identifier
  core/primitives/src/state_record.rs
  core/primitives/src/trie_key.rs
  nearcore/src/metrics.rs
  tools/state-viewer/src/cli.rs
  tools/state-viewer/src/trie_iteration_benchmark.rs
Labels: C-housekeeping

#10373 feat: Change default shard trie cache size to 500MB
  core/store/src/trie/config.rs
Labels: A-storage

#10380 refactor: move ChainUpdate to a separate file
  chain/chain/src/chain.rs
  chain/chain/src/chain_update.rs
  chain/chain/src/lib.rs
Labels: C-housekeeping

#10385 Handshake security fixes included in 1.36.4
  Cargo.lock
  core/crypto/Cargo.toml
  core/crypto/src/signature.rs
Labels: A-security

#10412 refactor: use bytesize::ByteSize for TrieCacheConfig
  Cargo.lock
  core/store/src/config.rs
  core/store/src/trie/config.rs
  core/store/src/trie/trie_storage.rs
  core/store/src/trie/trie_tests.rs
  integration-tests/Cargo.toml
  integration-tests/src/tests/client/state_snapshot.rs
Labels: C-housekeeping, A-storage

#10451 save the cache only from master
  .github/workflows/ci.yml
Labels: A-CI

#10471 fix: adjust comments in `pre_validate_chunk_witness` to match the code
  chain/client/src/chunk_validation.rs
Labels: A-stateless-validation

#10467 [stateless_validation] Use Balance instead of AssignmentWeight in ValidatorMandatesAssignment
  chain/chain/src/test_utils/kv_runtime.rs
  chain/epoch-manager/src/adapter.rs
  chain/epoch-manager/src/validator_selection.rs
  core/primitives/src/chunk_validation.rs
  core/primitives/src/epoch_manager.rs
  core/primitives/src/validator_mandates.rs
Labels: A-stateless-validation

#10478 feat: add shadow stateless validation
  chain/chain/Cargo.toml
  chain/chain/src/chain.rs
  chain/client/Cargo.toml
  chain/client/src/chunk_validation.rs
  chain/client/src/client.rs
  chain/client/src/metrics.rs
Labels: A-stateless-validation

#10469 [stateless_validation] Include chunk_endorsement signatures in block body
  chain/chain/src/chain.rs
  chain/client/src/chunk_inclusion_tracker.rs
  chain/client/src/chunk_validation.rs
  chain/client/src/client.rs
  chain/client/src/client_actor.rs
  chain/client/src/debug.rs
  core/primitives/src/block.rs
  core/primitives/src/block_body.rs
  integration-tests/src/tests/client/process_blocks.rs
Labels: A-stateless-validation

#10487 [stateless_validaiton] Skip validation of state witness for chunk right after genesis
  chain/client/src/chunk_validation.rs
  chain/epoch-manager/src/tests/mod.rs
  core/primitives/src/chunk_validation.rs
Labels: A-stateless-validation

#10488 [stateless_validation] Do not include chunk endorsement signatures for old chunks in block
  chain/chain/src/chain.rs
  chain/chain/src/chunk_endorsement.rs
  chain/client/src/client.rs
  core/primitives/src/block.rs
  core/primitives/src/block_body.rs
Labels: A-stateless-validation

#10491 refactor: remove ShardUpdateResult enum
  chain/chain/src/chain.rs
  chain/chain/src/chain_update.rs
  chain/chain/src/update_shard.rs
Labels: C-housekeeping

#10482 feat: sign chunk state witness
  chain/chain/src/test_utils/kv_runtime.rs
  chain/client/src/adapter.rs
  chain/client/src/chunk_validation.rs
  chain/client/src/client_actor.rs
  chain/client/src/test_utils/test_env.rs
  chain/epoch-manager/src/adapter.rs
  chain/epoch-manager/src/tests/mod.rs
  chain/network/src/client.rs
  chain/network/src/peer/peer_actor.rs
  chain/network/src/testonly/fake_client.rs
  chain/network/src/types.rs
  core/primitives/src/chunk_validation.rs
  core/primitives/src/validator_signer.rs
  tools/chainsync-loadtest/src/network.rs
Labels: A-stateless-validation

#10414 feat: transactions validation for Stateless Validation
  chain/chain/src/chain.rs
  chain/chain/src/test_utils/kv_runtime.rs
  chain/chain/src/types.rs
  chain/chunks/src/client.rs
  chain/client/src/chunk_validation.rs
  chain/client/src/client.rs
  chain/client/src/lib.rs
  chain/client/src/test_utils/client.rs
  chain/pool/src/lib.rs
  chain/pool/src/types.rs
  integration-tests/src/tests/client/benchmarks.rs
  integration-tests/src/tests/client/challenges.rs
  integration-tests/src/tests/client/features/access_key_nonce_for_implicit_accounts.rs
  integration-tests/src/tests/client/process_blocks.rs
  nearcore/src/runtime/mod.rs
  nearcore/src/runtime/tests.rs
Labels: A-stateless-validation

#10503 [stateless_validation][fix] Hack sending state witness for chunk after genesis
  chain/client/src/chunk_validation.rs
  core/primitives/src/chunk_validation.rs
Labels: A-stateless-validation

#10504 [stateless_validation] Add testing for handling state witness and chunk endorsements
  chain/client/src/test_utils/test_env.rs
  integration-tests/src/tests/client/features/chunk_validation.rs
Labels: A-stateless-validation

#10501 [stateless_validation] Hack sending chunk endorsement to self for single validator tests
  chain/client/src/chunk_validation.rs
Labels: A-stateless-validation

#10505 [stateless_validation]: generate and verify source_receipt_proofs in ChunkStateWitness
  chain/client/src/chunk_validation.rs
  chain/client/src/client.rs
Labels: A-stateless-validation

#10512 refactor: improve runtime `prepare_transactions` api
  chain/chain/src/test_utils/kv_runtime.rs
  chain/chain/src/types.rs
  chain/client/src/chunk_validation.rs
  chain/client/src/client.rs
  nearcore/src/runtime/mod.rs
  nearcore/src/runtime/tests.rs
Labels: C-housekeeping

#10519 refactor: extract `transaction_validity_check` function
  chain/chain/src/chain.rs
  chain/client/src/chunk_validation.rs
  chain/client/src/client.rs
Labels: C-housekeeping

#10515 feat(state-sync): Download state header from external storage
  chain/client-primitives/src/types.rs
  chain/client/src/metrics.rs
  chain/client/src/sync/external.rs
  chain/client/src/sync/state.rs
  runtime/near-wallet-contract/res/wallet_contract.wasm
  tools/state-parts-dump-check/src/cli.rs
  tools/state-viewer/src/state_parts.rs
Labels: A-stateless-validation

#10532 remove run_clippy.sh script, that has been replaced with `just check-cargo-clippy`
  scripts/run_clippy.sh
Labels: C-housekeeping

#10527 fix: test_chunk_forwarding_optimization
  chain/client/src/test_utils/test_env.rs
  integration-tests/src/tests/client/features/access_key_nonce_for_implicit_accounts.rs
  integration-tests/src/tests/client/features/stateless_validation.rs
Labels: A-stateless-validation

#10538 fix: enable test_function_limit_change
  integration-tests/src/tests/client/features/limit_contract_functions_number.rs
Labels: A-stateless-validation

#10540 [stateless_validation] Rename feature `ChunkValidation` to `StatelessValidationV0`
  chain/chain/src/chain.rs
  chain/client/src/stateless_validation/chunk_endorsement_tracker.rs
  chain/client/src/stateless_validation/state_witness_producer.rs
  chain/epoch-manager/src/tests/mod.rs
  chain/epoch-manager/src/validator_selection.rs
  core/primitives-core/src/version.rs
  core/primitives/src/block.rs
  core/primitives/src/block_body.rs
  core/primitives/src/epoch_manager.rs
  integration-tests/src/tests/client/chunks_management.rs
  integration-tests/src/tests/client/features/adversarial_behaviors.rs
  integration-tests/src/tests/client/features/in_memory_tries.rs
  integration-tests/src/tests/client/features/stateless_validation.rs
  integration-tests/src/tests/client/process_blocks.rs
Labels: A-stateless-validation

#10539 [stateless_validation] Cleanup for bypass sending stateless validation messages to ourselves
  chain/client/src/chunk_inclusion_tracker.rs
  chain/client/src/client.rs
  chain/client/src/client_actor.rs
  chain/client/src/stateless_validation/chunk_endorsement_tracker.rs
  chain/client/src/stateless_validation/chunk_validator.rs
  chain/client/src/stateless_validation/state_witness_producer.rs
  integration-tests/src/tests/client/process_blocks.rs
Labels: A-stateless-validation
