Repository near/nearcore, pull requests merged in 2024-04, with the labels that each got.

#10850 Feat: Eth wallet contract implementation
  Cargo.lock
  Cargo.toml
  integration-tests/Cargo.toml
  integration-tests/src/tests/client/features/wallet_contract.rs
  runtime/near-wallet-contract/implementation/Cargo.lock
  runtime/near-wallet-contract/implementation/Cargo.toml
  runtime/near-wallet-contract/implementation/address-registrar/Cargo.toml
  runtime/near-wallet-contract/implementation/address-registrar/src/lib.rs
  runtime/near-wallet-contract/implementation/wallet-contract/Cargo.toml
  runtime/near-wallet-contract/implementation/wallet-contract/src/ADDRESS_REGISTRAR_ACCOUNT_ID
  runtime/near-wallet-contract/implementation/wallet-contract/src/error.rs
  runtime/near-wallet-contract/implementation/wallet-contract/src/eth_emulation.rs
  runtime/near-wallet-contract/implementation/wallet-contract/src/ethabi_utils.rs
  runtime/near-wallet-contract/implementation/wallet-contract/src/internal.rs
  runtime/near-wallet-contract/implementation/wallet-contract/src/lib.rs
  runtime/near-wallet-contract/implementation/wallet-contract/src/near_action.rs
  runtime/near-wallet-contract/implementation/wallet-contract/src/tests/caller_error.rs
  runtime/near-wallet-contract/implementation/wallet-contract/src/tests/emulation.rs
  runtime/near-wallet-contract/implementation/wallet-contract/src/tests/mod.rs
  runtime/near-wallet-contract/implementation/wallet-contract/src/tests/relayer.rs
  runtime/near-wallet-contract/implementation/wallet-contract/src/tests/res/hello.wasm
  runtime/near-wallet-contract/implementation/wallet-contract/src/tests/res/nep141.wasm
  runtime/near-wallet-contract/implementation/wallet-contract/src/tests/sanity.rs
  runtime/near-wallet-contract/implementation/wallet-contract/src/tests/user_error.rs
  runtime/near-wallet-contract/implementation/wallet-contract/src/tests/utils/codec.rs
  runtime/near-wallet-contract/implementation/wallet-contract/src/tests/utils/crypto.rs
  runtime/near-wallet-contract/implementation/wallet-contract/src/tests/utils/mod.rs
  runtime/near-wallet-contract/implementation/wallet-contract/src/tests/utils/nep141.rs
  runtime/near-wallet-contract/implementation/wallet-contract/src/tests/utils/test_context.rs
  runtime/near-wallet-contract/implementation/wallet-contract/src/types.rs
  runtime/near-wallet-contract/res/wallet_contract.wasm
  runtime/near-wallet-contract/wallet-contract/Cargo.lock
  runtime/near-wallet-contract/wallet-contract/Cargo.toml
  runtime/near-wallet-contract/wallet-contract/src/lib.rs
Labels: C-enhancement, T-core, T-Aurora, rust

#11000 Add metric for recorded storage proof size, also calculate adjusted size based on number of trie removals
  core/store/src/trie/mod.rs
  core/store/src/trie/trie_recording.rs
  core/store/src/trie/update.rs
  runtime/runtime/src/lib.rs
  runtime/runtime/src/metrics.rs
Labels: A-stateless-validation

#10983 [stateless_validation] Load memtrie async on catchup
  chain/chain/src/chain.rs
  chain/client-primitives/src/types.rs
  chain/client/src/client.rs
  chain/client/src/client_actions.rs
  chain/client/src/sync/state.rs
  chain/client/src/sync_jobs_actions.rs
  chain/client/src/sync_jobs_actor.rs
  chain/client/src/test_utils/client.rs
  chain/client/src/test_utils/client_actions_test_utils.rs
  chain/client/src/test_utils/sync_jobs_test_utils.rs
  integration-tests/src/tests/client/process_blocks.rs
  integration-tests/src/tests/client/state_dump.rs
  integration-tests/src/tests/client/sync_state_nodes.rs
  tools/state-viewer/src/state_parts.rs
Labels: A-stateless-validation

#10715 feat: compress state witness
  Cargo.lock
  Cargo.toml
  chain/client/src/metrics.rs
  chain/client/src/stateless_validation/chunk_validator/mod.rs
  chain/client/src/stateless_validation/shadow_validate.rs
  chain/client/src/stateless_validation/state_witness_producer.rs
  chain/client/src/test_utils/test_env.rs
  chain/epoch-manager/src/tests/mod.rs
  core/primitives/Cargo.toml
  core/primitives/src/stateless_validation.rs
  integration-tests/src/tests/client/features/orphan_chunk_state_witness.rs
  integration-tests/src/tests/client/features/stateless_validation.rs
Labels: A-stateless-validation

#11075 Better buckets for storage proof size metrics
  runtime/runtime/src/lib.rs
  runtime/runtime/src/metrics.rs
Labels: A-stateless-validation

#11041 [reed_solomon] Improve Reed Solomon erasure encoding wrapper interface
  chain/chunks/src/lib.rs
  chain/chunks/src/test_loop.rs
  chain/chunks/src/test_utils.rs
  chain/client/src/client.rs
  chain/client/src/test_utils/client.rs
  chain/network/src/network_protocol/testonly.rs
  core/primitives/src/block.rs
  core/primitives/src/lib.rs
  core/primitives/src/reed_solomon.rs
  core/primitives/src/sharding.rs
  core/store/benches/finalize_bench.rs
  integration-tests/src/tests/client/challenges.rs
Labels: A-stateless-validation

#11079 [stateless_validation] Introduce new StateWitnessDistributionActor
  chain/client/src/client.rs
  chain/client/src/client_actor.rs
  chain/client/src/lib.rs
  chain/client/src/stateless_validation/mod.rs
  chain/client/src/stateless_validation/state_witness_distribution_actions.rs
  chain/client/src/stateless_validation/state_witness_distribution_actor.rs
  chain/client/src/stateless_validation/state_witness_producer.rs
  chain/client/src/test_utils/mod.rs
  chain/client/src/test_utils/setup.rs
  chain/client/src/test_utils/state_witness_distribution_mock.rs
  chain/client/src/test_utils/sync_jobs_test_utils.rs
  chain/client/src/test_utils/test_env.rs
  chain/client/src/test_utils/test_env_builder.rs
  chain/client/src/test_utils/test_loop.rs
  integration-tests/src/tests/client/features/multinode_test_loop_example.rs
  integration-tests/src/tests/client/features/simple_test_loop_example.rs
  integration-tests/src/tests/network/runner.rs
  nearcore/src/lib.rs
Labels: A-stateless-validation

#11080 [stateless_validation] Shift handling of ChunkStateWitnessAckMessage to StateWitnessDistributionActor
  chain/client/src/adapter.rs
  chain/client/src/client.rs
  chain/client/src/client_actions.rs
  chain/client/src/stateless_validation/state_witness_distribution_actions.rs
  chain/client/src/stateless_validation/state_witness_distribution_actor.rs
  chain/client/src/stateless_validation/state_witness_producer.rs
  chain/client/src/test_utils/setup.rs
  chain/client/src/test_utils/state_witness_distribution_mock.rs
  chain/client/src/test_utils/test_env.rs
  chain/client/src/test_utils/test_env_builder.rs
  chain/client/src/test_utils/test_loop.rs
  chain/network/src/client.rs
  chain/network/src/lib.rs
  chain/network/src/peer/peer_actor.rs
  chain/network/src/peer/testonly.rs
  chain/network/src/peer_manager/network_state/mod.rs
  chain/network/src/peer_manager/peer_manager_actor.rs
  chain/network/src/peer_manager/testonly.rs
  chain/network/src/state_witness_distribution.rs
  integration-tests/src/tests/client/features/multinode_test_loop_example.rs
  integration-tests/src/tests/network/peer_handshake.rs
  integration-tests/src/tests/network/runner.rs
  integration-tests/src/tests/network/stress_network.rs
  nearcore/src/lib.rs
  tools/chainsync-loadtest/src/main.rs
  tools/chainsync-loadtest/src/network.rs
Labels: A-stateless-validation

#11090 [stateless_validation] Push get_chunk_validator_assignments call to StateWitnessActor
  chain/client/src/stateless_validation/state_witness_actions.rs
  chain/client/src/stateless_validation/state_witness_actor.rs
  chain/client/src/stateless_validation/state_witness_producer.rs
  chain/client/src/test_utils/setup.rs
  chain/client/src/test_utils/test_env_builder.rs
  integration-tests/src/tests/client/features/multinode_test_loop_example.rs
  integration-tests/src/tests/network/runner.rs
  nearcore/src/lib.rs
Labels: A-stateless-validation

#11091 [stateless_validaton] Create stub for PartialEncodedStateWitness based requests
  chain/client/src/stateless_validation/state_witness_actions.rs
  chain/client/src/stateless_validation/state_witness_actor.rs
  chain/client/src/test_utils/setup.rs
  chain/client/src/test_utils/test_loop.rs
  chain/network/src/network_protocol/mod.rs
  chain/network/src/peer/peer_actor.rs
  chain/network/src/peer/testonly.rs
  chain/network/src/peer_manager/peer_manager_actor.rs
  chain/network/src/peer_manager/testonly.rs
  chain/network/src/state_witness.rs
  chain/network/src/types.rs
  core/primitives/src/stateless_validation.rs
Labels: A-stateless-validation

#11120 remove meaningless Memory abstraction
  runtime/near-vm-runner/src/near_vm_runner/memory.rs
  runtime/near-vm-runner/src/near_vm_runner/mod.rs
  runtime/near-vm-runner/src/near_vm_runner/runner.rs
  runtime/near-vm-runner/src/tests/cache.rs
  runtime/near-vm/test-api/src/sys/tunables.rs
  runtime/near-vm/vm/src/export/vmmemory.rs
  runtime/near-vm/vm/src/instance/mod.rs
  runtime/near-vm/vm/src/lib.rs
  runtime/near-vm/vm/src/memory/linear_memory.rs
  runtime/near-vm/vm/src/memory/mod.rs
  runtime/near-vm/vm/src/tunables.rs
  runtime/near-vm/vm/src/vmcontext.rs
  runtime/near-vm/vm/src/vmoffsets.rs
Labels: C-housekeeping

#11150 [reed_solomon] Remove ReedSolomonWrapper
  Cargo.lock
  Cargo.toml
  chain/chunks/src/lib.rs
  chain/chunks/src/test/basic.rs
  chain/chunks/src/test_loop.rs
  chain/chunks/src/test_utils.rs
  chain/client/src/client.rs
  chain/client/src/stateless_validation/state_witness_actions.rs
  chain/client/src/test_utils/client.rs
  chain/network/Cargo.toml
  chain/network/src/network_protocol/testonly.rs
  core/primitives/src/block.rs
  core/primitives/src/reed_solomon.rs
  core/primitives/src/sharding.rs
  core/store/Cargo.toml
  core/store/benches/finalize_bench.rs
  deny.toml
  integration-tests/Cargo.toml
  integration-tests/src/tests/client/challenges.rs
Labels: A-stateless-validation

#11154 [stateless_validation] Add partial_witness_tracker module to track witness parts
  chain/client/src/stateless_validation/mod.rs
  chain/client/src/stateless_validation/partial_witness_tracker.rs
  chain/client/src/stateless_validation/state_witness_actions.rs
  core/primitives/src/stateless_validation.rs
Labels: A-stateless-validation

#11162 [stateless_validation] client_sender for state_witness_actor to send decoded state witness from parts
  chain/chain/src/chain.rs
  chain/client/src/client_actions.rs
  chain/client/src/stateless_validation/chunk_validator/mod.rs
  chain/client/src/stateless_validation/partial_witness_tracker.rs
  chain/client/src/stateless_validation/state_witness_actions.rs
  chain/client/src/stateless_validation/state_witness_actor.rs
  chain/client/src/test_utils/setup.rs
  chain/client/src/test_utils/test_env.rs
  chain/client/src/test_utils/test_env_builder.rs
  chain/client/src/test_utils/test_loop.rs
  integration-tests/src/tests/client/features/multinode_test_loop_example.rs
  integration-tests/src/tests/client/features/orphan_chunk_state_witness.rs
  integration-tests/src/tests/client/features/stateless_validation.rs
  integration-tests/src/tests/network/runner.rs
  nearcore/src/lib.rs
Labels: A-stateless-validation

#11168 [stateless_validation] Add validation for partial_witness
  chain/chain-primitives/src/error.rs
  chain/chain/src/test_utils/kv_runtime.rs
  chain/client/src/stateless_validation/partial_witness_tracker.rs
  chain/client/src/stateless_validation/state_witness_actions.rs
  chain/epoch-manager/src/adapter.rs
  core/primitives/src/stateless_validation.rs
Labels: A-stateless-validation

#11170 [stateless_validation] Enable distribution of state witness via PartialEncodedStateWitness
  chain/chunks/src/test_utils.rs
  chain/client/src/stateless_validation/partial_witness_tracker.rs
  chain/client/src/stateless_validation/state_witness_actions.rs
  chain/client/src/test_utils/mock_state_witness_adapter.rs
  chain/client/src/test_utils/mod.rs
  chain/client/src/test_utils/synchronous_state_witness_adapter.rs
  chain/client/src/test_utils/test_env.rs
  chain/client/src/test_utils/test_env_builder.rs
  chain/client/src/test_utils/test_loop.rs
  core/primitives-core/src/version.rs
  core/primitives/src/stateless_validation.rs
  integration-tests/src/tests/client/features/orphan_chunk_state_witness.rs
Labels: A-stateless-validation

#11137 Save observed instances of ChunkStateWitness to the database for later analysis
  chain/chain/src/garbage_collection.rs
  chain/chain/src/store/latest_witnesses.rs
  chain/chain/src/store/mod.rs
  chain/client/src/stateless_validation/chunk_validator/mod.rs
  chain/client/src/stateless_validation/state_witness_producer.rs
  core/chain-configs/src/client_config.rs
  core/store/src/columns.rs
  core/store/src/db.rs
  nearcore/src/config.rs
  tools/state-viewer/src/cli.rs
  tools/state-viewer/src/latest_witnesses.rs
  tools/state-viewer/src/lib.rs
Labels: A-stateless-validation

#11191 [stateless_validation] Rename StateWitnessActor to PartialWitnessActor
  chain/client/src/client.rs
  chain/client/src/client_actions.rs
  chain/client/src/client_actor.rs
  chain/client/src/lib.rs
  chain/client/src/stateless_validation/mod.rs
  chain/client/src/stateless_validation/partial_witness/mod.rs
  chain/client/src/stateless_validation/partial_witness/partial_witness_actions.rs
  chain/client/src/stateless_validation/partial_witness/partial_witness_actor.rs
  chain/client/src/stateless_validation/partial_witness/partial_witness_tracker.rs
  chain/client/src/stateless_validation/state_witness_producer.rs
  chain/client/src/test_utils/mock_partial_witness_adapter.rs
  chain/client/src/test_utils/mod.rs
  chain/client/src/test_utils/setup.rs
  chain/client/src/test_utils/test_env.rs
  chain/client/src/test_utils/test_env_builder.rs
  chain/client/src/test_utils/test_loop.rs
  chain/client/src/test_utils/test_loop/partial_witness_actions.rs
  chain/client/src/test_utils/test_loop/state_witness_actions.rs
  chain/network/src/peer/peer_actor.rs
  chain/network/src/peer/testonly.rs
  chain/network/src/peer_manager/network_state/mod.rs
  chain/network/src/peer_manager/peer_manager_actor.rs
  chain/network/src/peer_manager/testonly.rs
  chain/network/src/state_witness.rs
  integration-tests/src/tests/client/features/multinode_test_loop_example.rs
  integration-tests/src/tests/client/features/orphan_chunk_state_witness.rs
  integration-tests/src/tests/network/runner.rs
  nearcore/src/lib.rs
Labels: A-stateless-validation
