Repository near/nearcore, changes with the owners that CODEOWNERS names for each.
All owners: @bowenwang1996, @mzhangmzz, @mm-near, @yordanmadzhunkov, @khorolets, @chefsale, @pmnoxx, @miraclx, @frol, @EgorKulikov, @olonho, @matklad, @ailisp, @longarithm, @nikurt, @posvyatokum, @mhalambek

CODEOWNERS:

# CODEOWNERS: https://help.github.com/articles/about-codeowners/

/chain/ @bowenwang1996 @mzhangmzz @mm-near @yordanmadzhunkov
/chain/client/src/view_client.rs @khorolets @chefsale
/chain/client-primitives/ @khorolets @chefsale
/chain/network/ @mm-near @bowenwang1996 @pmnoxx
/chain/network-primitives/ @mm-near @pmnoxx
/chain/jsonrpc/ @khorolets @chefsale
/chain/jsonrpc-primitives/ @khorolets @miraclx @chefsale
/chain/indexer/ @khorolets
/chain/rosetta-rpc/ @frol

/runtime/ @bowenwang1996 @EgorKulikov @mzhangmzz @mm-near
/runtime/runtime-params-estimator/ @olonho @matklad
/runtime/near-test-contracts/ @olonho @ailisp @matklad
/runtime/near-vm-runner-standalone/ @olonho @ailisp @matklad
/runtime/near-vm-runner/ @olonho @ailisp @matklad

/genesis-tools/ @ailisp
/tools/indexer/ @khorolets

/core/  @bowenwang1996 @matklad @mm-near
/core/store/src/trie @mzhangmzz @longarithm
/neard/ @bowenwang1996 @mm-near
/nearcore/ @bowenwang1996 @mm-near
/test-utils/state-viewer @nikurt
/test-utils/runtime-tester @posvyatokum @matklad

/.buildkite/ @chefsale @mhalambek
/scripts/ @chefsale @mhalambek

/docs/ @bowenwang1996 @matklad

feat: Add `ActixMessageWrapper` to rate limit `PeerActor` (#5198)
  chain/network/src/peer/codec.rs
Owners: @mm-near, @bowenwang1996, @pmnoxx

utils: add a few more examples and tests to MaybeValidated (#5346)
  core/primitives/src/utils.rs
Owners: @bowenwang1996, @matklad, @mm-near

Increase timeout for `get_status` to `4s` from `2s` (#5439)
  pytest/lib/cluster.py
Owners: none

Main commit
  chain/network/src/peer_manager/peer_manager_actor.rs
  chain/network/src/routing/routing_table_actor.rs
  chain/network/src/types.rs
  chain/network/tests/cache_edges.rs
Owners: @mm-near, @bowenwang1996, @pmnoxx

Figure out what does `near-network::...::codec::is_forward_tx` do (#5409)
  chain/network/src/peer/codec.rs
Owners: @mm-near, @bowenwang1996, @pmnoxx

Figure out what `peer_id_type_field_len` method in `near-network`...`codec.rs` does (#5408)
  chain/network/src/peer/codec.rs
Owners: @mm-near, @bowenwang1996, @pmnoxx

Revert "Add extra logs to investigate issues (#5192)"
  chain/network/src/peer_manager/peer_manager_actor.rs
  chain/network/src/routing/route_back_cache.rs
  chain/network/src/routing/routing.rs
Owners: @mm-near, @bowenwang1996, @pmnoxx

feat: Move `EdgeVerifierActor` inside `RoutingTableActor` (#5230)
  chain/network/src/peer_manager/peer_manager_actor.rs
  chain/network/src/routing/routing_table_actor.rs
  chain/network/src/types.rs
  chain/network/tests/cache_edges.rs
Owners: @mm-near, @bowenwang1996, @pmnoxx

nightly: disable consistently failing tests (#5438)
  nightly/pytest-sanity.txt
Owners: none

Revert "Add extra logs to investigate issues (#5192)" (#5443)
  chain/network/src/peer_manager/peer_manager_actor.rs
  chain/network/src/routing/route_back_cache.rs
  chain/network/src/routing/routing.rs
Owners: @mm-near, @bowenwang1996, @pmnoxx

Make `download_file` not store the intermediary bytes in RAM
  Cargo.lock
  nearcore/Cargo.toml
  nearcore/src/config.rs
Owners: @bowenwang1996, @mm-near

Split `IoError` into three more granular types
  nearcore/src/config.rs
Owners: @bowenwang1996, @mm-near

Make `download_file` use async_std instead of std::fs
  Cargo.lock
  nearcore/Cargo.toml
  nearcore/src/config.rs
Owners: @bowenwang1996, @mm-near

Write an integration test for `download_file` using testcontainers-rs
  Cargo.lock
  integration-tests/Cargo.toml
  integration-tests/tests/test_download_file.rs
Owners: none

Apply reviewer's comments to make the code look more canonical
  nearcore/src/config.rs
Owners: @bowenwang1996, @mm-near

Drop the limit from `download_file`
  nearcore/src/config.rs
Owners: @bowenwang1996, @mm-near

Replace async-std with tokio and get rid of testcontainers-rs
  Cargo.lock
  integration-tests/Cargo.toml
  integration-tests/tests/test_download_file.rs
  nearcore/Cargo.toml
  nearcore/src/config.rs
Owners: @bowenwang1996, @mm-near

Apply some stylistic suggestions
  integration-tests/tests/test_download_file.rs
  nearcore/src/config.rs
Owners: @bowenwang1996, @mm-near

Mieubrisse/sandbox docker image (#4991)
  .dockerignore
  .gitignore
  Dockerfile.sandbox
  Makefile
Owners: none

remove debug prints
  runtime/near-vm-logic/src/logic.rs
Owners: @bowenwang1996, @EgorKulikov, @mzhangmzz, @mm-near
