Repository near/nearcore, changes with the owners that CODEOWNERS names for each.
All owners: @SkidanovAlex, @bowenwang1996, @nearmax, @evgenykuzyakov

Remove pynear (#1817)
  pynear/.gitignore
  pynear/bin/generate_python_transaction_proto.sh
  pynear/setup.cfg
  pynear/setup.py
  pynear/src/near/__init__.py
  pynear/src/near/pynear/__init__.py
  pynear/src/near/pynear/b58.py
  pynear/src/near/pynear/cli.py
  pynear/src/near/pynear/key_store.py
  pynear/src/near/pynear/lib.py
  pynear/src/near/pynear/protos/__init__.py
  pynear/src/near/pynear/protos/signed_transaction_pb2.py
  pynear/src/near/pynear/test_utils/__init__.py
  pynear/src/near/pynear/test_utils/cli.py
  pynear/src/near/pynear/test_utils/fixtures.py
  pynear/tests/integration/__init__.py
  pynear/tests/integration/test_cli.py
Owners: none

Add minimum gas price
  chain/chain/src/chain.rs
  chain/chain/src/test_utils.rs
  chain/chain/tests/simple_chain.rs
  chain/client/src/client.rs
  chain/client/src/test_utils.rs
  chain/client/tests/challenges.rs
  chain/client/tests/process_blocks.rs
  chain/network/tests/announce_account.rs
  chain/network/tests/routing.rs
  core/primitives/src/block.rs
  core/primitives/src/test_utils.rs
  genesis-tools/genesis-csv-to-json/src/csv_to_json_configs.rs
  near/src/config.rs
  near/src/lib.rs
  near/tests/sync_nodes.rs
  scripts/nodelib.py
  test-utils/testlib/src/lib.rs
Owners: @SkidanovAlex, @bowenwang1996, @nearmax, @evgenykuzyakov

add empty line
  runtime/near-vm-logic/Cargo.toml
Owners: @nearmax, @evgenykuzyakov

comment on ED25519 secret key
  core/crypto/src/signature.rs
Owners: @nearmax, @evgenykuzyakov, @SkidanovAlex, @bowenwang1996

fix test
  core/primitives/benches/serialization.rs
Owners: @nearmax, @evgenykuzyakov, @SkidanovAlex, @bowenwang1996

Improve vm errors (#1800)
  runtime/near-vm-errors/src/lib.rs
  runtime/near-vm-logic/src/logic.rs
  runtime/near-vm-logic/src/mocks/mock_external.rs
  runtime/near-vm-logic/tests/test_registers.rs
  runtime/runtime/src/ext.rs
  runtime/runtime/src/state_viewer.rs
Owners: @nearmax, @evgenykuzyakov

add to nightly
  nightly/nightly.txt
Owners: none

[WIP] More docs (Receipt, Transaction) (#1791)
  core/primitives/src/account.rs
  core/primitives/src/errors.rs
  core/primitives/src/receipt.rs
  core/primitives/src/transaction.rs
  runtime/near-runtime-fees/src/lib.rs
  runtime/runtime/src/lib.rs
Owners: @nearmax, @evgenykuzyakov, @SkidanovAlex, @bowenwang1996

Support for Light Clients
  chain/chain/src/chain.rs
  chain/chain/src/error.rs
  chain/chain/src/finality.rs
  chain/chain/src/lib.rs
  chain/chain/src/lightclient.rs
  chain/chain/src/store.rs
  chain/chain/src/types.rs
  chain/chain/tests/finality.rs
  chain/chain/tests/simple_chain.rs
  chain/client/src/client.rs
  chain/client/src/lib.rs
  chain/client/src/types.rs
  chain/client/src/view_client.rs
  chain/client/tests/challenges.rs
  chain/client/tests/process_blocks.rs
  chain/epoch_manager/src/lib.rs
  chain/epoch_manager/tests/finality.rs
  chain/jsonrpc/src/lib.rs
  core/primitives/benches/serialization.rs
  core/primitives/src/block.rs
  core/primitives/src/test_utils.rs
  core/primitives/src/views.rs
  core/store/src/db.rs
  genesis-tools/genesis-populate/src/lib.rs
  near/src/config.rs
  near/tests/sync_nodes.rs
  nightly/nightly.py
  nightly/nightly.txt
  pytest/lib/lightclient.py
  pytest/requirements.txt
  pytest/tests/sanity/lightclnt.py
Owners: @SkidanovAlex, @bowenwang1996, @nearmax, @evgenykuzyakov

fix some issues
  chain/chain/src/chain.rs
  chain/chain/src/store.rs
  chain/chain/src/types.rs
  chain/client/src/view_client.rs
  core/primitives/src/transaction.rs
  core/primitives/src/views.rs
  nightly/nightly.txt
  pytest/tests/sanity/rpc_query.py
  test-utils/testlib/src/user/runtime_user.rs
Owners: @SkidanovAlex, @bowenwang1996, @nearmax, @evgenykuzyakov

initial changes
  CMakeLists.txt
  chain/chunks/src/lib.rs
  cmake-build-debug/CMakeCache.txt
  cmake-build-debug/CMakeFiles/3.15.3/CMakeCCompiler.cmake
  cmake-build-debug/CMakeFiles/3.15.3/CMakeCXXCompiler.cmake
  cmake-build-debug/CMakeFiles/3.15.3/CMakeDetermineCompilerABI_C.bin
  cmake-build-debug/CMakeFiles/3.15.3/CMakeDetermineCompilerABI_CXX.bin
  cmake-build-debug/CMakeFiles/3.15.3/CMakeSystem.cmake
  cmake-build-debug/CMakeFiles/3.15.3/CompilerIdC/CMakeCCompilerId.c
  cmake-build-debug/CMakeFiles/3.15.3/CompilerIdC/a.out
  cmake-build-debug/CMakeFiles/3.15.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
  cmake-build-debug/CMakeFiles/3.15.3/CompilerIdCXX/a.out
  cmake-build-debug/CMakeFiles/CMakeDirectoryInformation.cmake
  cmake-build-debug/CMakeFiles/Makefile.cmake
  cmake-build-debug/CMakeFiles/Makefile2
  cmake-build-debug/CMakeFiles/TargetDirectories.txt
  cmake-build-debug/CMakeFiles/clion-environment.txt
  cmake-build-debug/CMakeFiles/clion-log.txt
  cmake-build-debug/CMakeFiles/cmake.check_cache
  cmake-build-debug/CMakeFiles/nearcore.dir/DependInfo.cmake
  cmake-build-debug/CMakeFiles/nearcore.dir/build.make
  cmake-build-debug/CMakeFiles/nearcore.dir/cmake_clean.cmake
  cmake-build-debug/CMakeFiles/nearcore.dir/depend.internal
  cmake-build-debug/CMakeFiles/nearcore.dir/depend.make
  cmake-build-debug/CMakeFiles/nearcore.dir/flags.make
  cmake-build-debug/CMakeFiles/nearcore.dir/progress.make
  cmake-build-debug/CMakeFiles/progress.marks
  cmake-build-debug/Makefile
  cmake-build-debug/cmake_install.cmake
  cmake-build-debug/nearcore.cbp
Owners: @SkidanovAlex, @bowenwang1996

remove cmakelist stuff
  CMakeLists.txt
  cmake-build-debug/CMakeCache.txt
  cmake-build-debug/CMakeFiles/3.15.3/CMakeCCompiler.cmake
  cmake-build-debug/CMakeFiles/3.15.3/CMakeCXXCompiler.cmake
  cmake-build-debug/CMakeFiles/3.15.3/CMakeDetermineCompilerABI_C.bin
  cmake-build-debug/CMakeFiles/3.15.3/CMakeDetermineCompilerABI_CXX.bin
  cmake-build-debug/CMakeFiles/3.15.3/CMakeSystem.cmake
  cmake-build-debug/CMakeFiles/3.15.3/CompilerIdC/CMakeCCompilerId.c
  cmake-build-debug/CMakeFiles/3.15.3/CompilerIdC/a.out
  cmake-build-debug/CMakeFiles/3.15.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
  cmake-build-debug/CMakeFiles/3.15.3/CompilerIdCXX/a.out
  cmake-build-debug/CMakeFiles/CMakeDirectoryInformation.cmake
  cmake-build-debug/CMakeFiles/Makefile.cmake
  cmake-build-debug/CMakeFiles/Makefile2
  cmake-build-debug/CMakeFiles/TargetDirectories.txt
  cmake-build-debug/CMakeFiles/clion-environment.txt
  cmake-build-debug/CMakeFiles/clion-log.txt
  cmake-build-debug/CMakeFiles/cmake.check_cache
  cmake-build-debug/CMakeFiles/nearcore.dir/DependInfo.cmake
  cmake-build-debug/CMakeFiles/nearcore.dir/build.make
  cmake-build-debug/CMakeFiles/nearcore.dir/cmake_clean.cmake
  cmake-build-debug/CMakeFiles/nearcore.dir/depend.internal
  cmake-build-debug/CMakeFiles/nearcore.dir/depend.make
  cmake-build-debug/CMakeFiles/nearcore.dir/flags.make
  cmake-build-debug/CMakeFiles/nearcore.dir/progress.make
  cmake-build-debug/CMakeFiles/progress.marks
  cmake-build-debug/Makefile
  cmake-build-debug/cmake_install.cmake
  cmake-build-debug/nearcore.cbp
Owners: none

fix sampling loop
  chain/chunks/src/lib.rs
Owners: @SkidanovAlex, @bowenwang1996

run one_val test
  pytest/lib/cluster.py
  pytest/remote.json
  pytest/tests/delete_remote_nodes.py
  pytest/tests/sanity/one_val.py
Owners: none

Isolated parallel test
  scripts/near-test-runtime.Dockerfile
  scripts/parallel_run_tests.py
Owners: none

update gitlab-ci
  .gitlab-ci.yml
Owners: none

Fix some issues in state sync (#1806)
  chain/chain/src/chain.rs
  chain/client/src/client.rs
  chain/client/src/client_actor.rs
  chain/client/src/sync.rs
  chain/client/src/test_utils.rs
  near/src/config.rs
  near/tests/rpc_nodes.rs
  near/tests/sync_nodes.rs
  nightly/nightly.txt
  pytest/lib/cluster.py
  pytest/tests/sanity/state_sync1.py
Owners: @SkidanovAlex, @bowenwang1996, @nearmax, @evgenykuzyakov

Support for Light Clients (#1818)
  chain/chain/src/chain.rs
  chain/chain/src/error.rs
  chain/chain/src/finality.rs
  chain/chain/src/lib.rs
  chain/chain/src/lightclient.rs
  chain/chain/src/store.rs
  chain/chain/src/types.rs
  chain/chain/tests/finality.rs
  chain/chain/tests/simple_chain.rs
  chain/client/src/client.rs
  chain/client/src/lib.rs
  chain/client/src/types.rs
  chain/client/src/view_client.rs
  chain/client/tests/challenges.rs
  chain/client/tests/process_blocks.rs
  chain/epoch_manager/src/lib.rs
  chain/epoch_manager/tests/finality.rs
  chain/jsonrpc/src/lib.rs
  core/primitives/benches/serialization.rs
  core/primitives/src/block.rs
  core/primitives/src/test_utils.rs
  core/primitives/src/views.rs
  core/store/src/db.rs
  genesis-tools/genesis-populate/src/lib.rs
  near/src/config.rs
  near/tests/sync_nodes.rs
  nightly/nightly.py
  nightly/nightly.txt
  pytest/lib/lightclient.py
  pytest/requirements.txt
  pytest/tests/sanity/lightclnt.py
Owners: @SkidanovAlex, @bowenwang1996, @nearmax, @evgenykuzyakov

backward compatible with python3.6
  scripts/parallel_run_tests.py
Owners: none

Fix bundled test_contract_rs
  near/src/config.rs
Owners: @nearmax, @evgenykuzyakov, @SkidanovAlex, @bowenwang1996

Always recording txs + Some nightly fixes
  chain/client/src/client.rs
  chain/client/tests/catching_up.rs
  chain/client/tests/cross_shard_tx.rs
  nightly/nightly.txt
  tests/test_catchup.rs
Owners: @SkidanovAlex, @bowenwang1996

remove too long coverage until a faster one is done
  .gitlab-ci.yml
Owners: none

Small changes
  chain/chain/src/validate.rs
Owners: @SkidanovAlex, @bowenwang1996

Fix bundled test_contract_rs (#1826)
  .gitlab-ci.yml
  near/src/config.rs
Owners: @nearmax, @evgenykuzyakov, @SkidanovAlex, @bowenwang1996

Replace sodium with ed25519_dalek and sha2 (#1816)
  Cargo.lock
  core/crypto/Cargo.toml
  core/crypto/src/signature.rs
  core/crypto/src/test_utils.rs
  core/primitives/Cargo.toml
  core/primitives/src/hash.rs
  runtime/near-vm-logic/Cargo.toml
  runtime/near-vm-logic/src/mocks/mock_external.rs
  runtime/runtime/Cargo.toml
  runtime/runtime/src/ext.rs
Owners: @nearmax, @evgenykuzyakov, @SkidanovAlex, @bowenwang1996

fix tests
  runtime/near-vm-runner/tests/test_rs_contract.rs
  runtime/near-vm-runner/tests/test_ts_contract.rs
Owners: @nearmax, @evgenykuzyakov

Turn on the fees in nearcore
  chain/client/tests/challenges.rs
  near/src/config.rs
  runtime/near-runtime-fees/src/lib.rs
  runtime/near-vm-logic/src/config.rs
  runtime/near-vm-logic/tests/fixtures.rs
  runtime/near-vm-logic/tests/test_context.rs
  runtime/near-vm-logic/tests/test_promises.rs
  runtime/near-vm-runner/tests/res/test_contract_rs.wasm
  runtime/near-vm-runner/tests/test-contract-rs/src/lib.rs
  runtime/near-vm-runner/tests/test_error_cases.rs
  runtime/near-vm-runner/tests/test_rs_contract.rs
  runtime/near-vm-runner/tests/utils.rs
  runtime/runtime-params-estimator/src/cases.rs
  runtime/runtime/src/balance_checker.rs
  runtime/runtime/src/lib.rs
  runtime/runtime/tests/runtime_group_tools/mod.rs
  runtime/runtime/tests/test_async_calls.rs
  runtime/runtime/tests/test_evil_contracts.rs
  runtime/runtime/tests/test_regression.rs
  test-utils/testlib/src/standard_test_cases.rs
Owners: @SkidanovAlex, @bowenwang1996, @nearmax, @evgenykuzyakov

Fishermen stake
  chain/chain/src/test_utils.rs
  chain/chain/src/types.rs
  chain/chain/src/validate.rs
  chain/client/src/client.rs
  chain/client/tests/challenges.rs
  chain/epoch_manager/src/lib.rs
  chain/epoch_manager/src/proposals.rs
  chain/epoch_manager/src/test_utils.rs
  chain/epoch_manager/src/types.rs
  genesis-tools/genesis-csv-to-json/src/csv_to_json_configs.rs
  near/src/config.rs
  near/src/runtime.rs
  near/src/shard_tracker.rs
Owners: @SkidanovAlex, @bowenwang1996, @nearmax, @evgenykuzyakov

blocking print
  scripts/parallel_run_tests.py
Owners: none

update using os.path
  scripts/parallel_run_tests.py
Owners: none

update using os.path
  scripts/parallel_run_tests.py
Owners: none

fix
  scripts/parallel_run_tests.py
Owners: none

Fetch execution outcome when querying transaction status (#1815)
  chain/chain/src/chain.rs
  chain/chain/src/store.rs
  chain/chain/src/types.rs
  chain/client/src/test_utils.rs
  chain/client/src/view_client.rs
  chain/network/src/metrics.rs
  chain/network/src/peer.rs
  chain/network/src/peer_manager.rs
  chain/network/src/types.rs
  core/primitives/src/transaction.rs
  core/primitives/src/views.rs
  core/store/src/db.rs
  near/tests/rpc_nodes.rs
  near/tests/sync_nodes.rs
  nightly/nightly.txt
  pytest/tests/sanity/rpc_query.py
  test-utils/testlib/src/user/runtime_user.rs
Owners: @SkidanovAlex, @bowenwang1996, @nearmax, @evgenykuzyakov

Always recording txs + Some nightly fixes (#1825)
  chain/client/src/client.rs
  chain/client/tests/catching_up.rs
  chain/client/tests/cross_shard_tx.rs
  nightly/nightly.txt
  tests/test_catchup.rs
Owners: @SkidanovAlex, @bowenwang1996

WIP Cache edges.
  chain/network/src/lib.rs
  chain/network/src/routing.rs
  chain/network/src/test_utils.rs
  chain/network/src/utils.rs
  core/store/src/db.rs
  core/store/src/lib.rs
Owners: @SkidanovAlex, @bowenwang1996, @nearmax, @evgenykuzyakov

Nit
  chain/network/src/peer.rs
  chain/network/src/test_utils.rs
Owners: @SkidanovAlex, @bowenwang1996

Add cache to round robin nonces
  chain/network/src/routing.rs
Owners: @SkidanovAlex, @bowenwang1996

Add test and fix stuff
  chain/network/src/routing.rs
  chain/network/tests/cache_edges.rs
Owners: @SkidanovAlex, @bowenwang1996

Remove `into_iter`
  chain/network/src/routing.rs
Owners: @SkidanovAlex, @bowenwang1996

Use inde_to_bytes
  chain/network/src/lib.rs
  chain/network/src/routing.rs
  chain/network/src/test_utils.rs
  chain/network/src/utils.rs
Owners: @SkidanovAlex, @bowenwang1996

CODEOWNERS:

# CODEOWNERS: https://help.github.com/articles/about-codeowners/

/chain/ @SkidanovAlex @bowenwang1996 

/runtime/ @nearmax @evgenykuzyakov

/genesis-tools/ @nearmax

/core/ @nearmax @evgenykuzyakov @SkidanovAlex @bowenwang1996
/near/ @nearmax @evgenykuzyakov @SkidanovAlex @bowenwang1996
