Repository near/nearcore, changes with the owners that CODEOWNERS names for each.
All owners: @SkidanovAlex, @bowenwang1996, @nearmax, @evgenykuzyakov

CODEOWNERS:

# CODEOWNERS: https://help.github.com/articles/about-codeowners/

/chain/ @SkidanovAlex @bowenwang1996 

/runtime/ @nearmax @evgenykuzyakov

/genesis-tools/ @nearmax

/core/ @nearmax @evgenykuzyakov @SkidanovAlex @bowenwang1996
/near/ @nearmax @evgenykuzyakov @SkidanovAlex @bowenwang1996

Fix test_create_account_failure_invalid_name_testnet: RpcError returned from client instead of plain string
  chain/jsonrpc/client/src/lib.rs
  chain/jsonrpc/client/src/message.rs
  test-utils/testlib/src/user/rpc_user.rs
Owners: @SkidanovAlex, @bowenwang1996

use real fees config in runtime (#1797)
  runtime/runtime/src/actions.rs
  runtime/runtime/src/lib.rs
Owners: @nearmax, @evgenykuzyakov

[WIP] rust-docs for External (#1780)
  runtime/near-vm-logic/src/dependencies.rs
Owners: @nearmax, @evgenykuzyakov

Update core/primitives/src/receipt.rs
  core/primitives/src/receipt.rs
Owners: @nearmax, @evgenykuzyakov, @SkidanovAlex, @bowenwang1996

more docs added to for Receipt primitives
  core/primitives/src/receipt.rs
Owners: @nearmax, @evgenykuzyakov, @SkidanovAlex, @bowenwang1996

more docs
  core/primitives/src/account.rs
  core/primitives/src/receipt.rs
  core/primitives/src/transaction.rs
  runtime/near-runtime-fees/src/lib.rs
Owners: @nearmax, @evgenykuzyakov, @SkidanovAlex, @bowenwang1996

Removed unused error types, added more docs
  core/primitives/src/errors.rs
  core/primitives/src/receipt.rs
  runtime/runtime/src/lib.rs
Owners: @nearmax, @evgenykuzyakov, @SkidanovAlex, @bowenwang1996

improve some errors #1288, #1793
  runtime/near-vm-errors/src/lib.rs
  runtime/near-vm-logic/src/dependencies.rs
  runtime/near-vm-logic/src/logic.rs
  runtime/near-vm-logic/src/mocks/mock_external.rs
  runtime/runtime/src/ext.rs
  runtime/runtime/src/state_viewer.rs
Owners: @nearmax, @evgenykuzyakov

Fix broken tests
  tests/test_errors.rs
Owners: none

fix tests
  chain/client/src/test_utils.rs
  chain/client/src/view_client.rs
  chain/client/tests/process_blocks.rs
Owners: @SkidanovAlex, @bowenwang1996

Fix warnings
  runtime/near-vm-logic/tests/helpers.rs
  runtime/near-vm-logic/tests/test_miscs.rs
  runtime/runtime-params-estimator/src/cases.rs
  runtime/runtime/src/lib.rs
Owners: @nearmax, @evgenykuzyakov

Fix codecov merge
  scripts/coverage.sh
Owners: none

Bounded state parts
  chain/client/tests/challenges.rs
  core/store/src/trie/insert_delete.rs
  core/store/src/trie/mod.rs
  core/store/src/trie/state_parts.rs
Owners: @SkidanovAlex, @bowenwang1996, @nearmax, @evgenykuzyakov

Fixing expensive tests (#1807)
  chain/client/src/client_actor.rs
  chain/jsonrpc/client/src/lib.rs
  chain/jsonrpc/client/src/message.rs
  near/src/config.rs
  runtime/near-vm-logic/tests/helpers.rs
  runtime/near-vm-logic/tests/test_miscs.rs
  runtime/runtime-params-estimator/src/cases.rs
  runtime/runtime/src/lib.rs
  test-utils/testlib/src/node/mod.rs
  test-utils/testlib/src/node/thread_node.rs
  test-utils/testlib/src/standard_test_cases.rs
  test-utils/testlib/src/user/rpc_user.rs
  test-utils/testlib/src/user/runtime_user.rs
  tests/test_errors.rs
Owners: @SkidanovAlex, @bowenwang1996, @nearmax, @evgenykuzyakov

Enable real fees
  near/src/config.rs
  runtime/near-runtime-fees/src/lib.rs
  runtime/near-vm-logic/src/config.rs
Owners: @nearmax, @evgenykuzyakov, @SkidanovAlex, @bowenwang1996

Fix some issues in state sync
  chain/chain/src/chain.rs
  chain/client/src/client.rs
  chain/client/src/client_actor.rs
  chain/client/src/sync.rs
  near/src/config.rs
  near/tests/sync_nodes.rs
  pytest/lib/cluster.py
  pytest/tests/sanity/state_sync1.py
Owners: @SkidanovAlex, @bowenwang1996, @nearmax, @evgenykuzyakov

load config json from config file indicated by env var
  pytest/remote.json
Owners: none

load config json from config file indicated by env var
  pytest/lib/cluster.py
  pytest/tests/sanity/block_production.py
  pytest/tests/sanity/remote.py
Owners: none

display for dbcol
  core/store/src/db.rs
Owners: @nearmax, @evgenykuzyakov, @SkidanovAlex, @bowenwang1996

Fix codecov merge (#1803)
  scripts/coverage.sh
Owners: none

test fix
  core/store/src/db.rs
  core/store/src/trie/mod.rs
Owners: @nearmax, @evgenykuzyakov, @SkidanovAlex, @bowenwang1996

upload a latest version to gcloud
  .gitlab-ci.yml
  scripts/upload_release.sh
Owners: none

use uuid instance name to run parallel remote test safely
  pytest/lib/cluster.py
Owners: none

Bounded state parts (#1792)
  chain/client/tests/challenges.rs
  core/store/src/trie/insert_delete.rs
  core/store/src/trie/mod.rs
  core/store/src/trie/state_parts.rs
Owners: @SkidanovAlex, @bowenwang1996, @nearmax, @evgenykuzyakov

multi thread remote shutdown
  pytest/lib/cluster.py
Owners: none

fork_sync test also works for remote
  pytest/tests/sanity/fork_sync.py
Owners: none

Remote pytest refactor (#1785)
  .gitlab-ci.yml
  pytest/Pipfile
  pytest/Pipfile.lock
  pytest/lib/cluster.py
  pytest/lib/gcloud.py
  pytest/lib/retrying.py
  pytest/remote.json
  pytest/requirements.txt
  pytest/scripts/create_instance_pool.sh
  pytest/scripts/delete_instance_pool.sh
  pytest/tests/delete_remote_nodes.py
  pytest/tests/sanity/block_production.py
  pytest/tests/sanity/fork_sync.py
  pytest/tests/sanity/remote.py
  scripts/upload_release.sh
Owners: none

typo
  chain/network/src/routing.rs
  core/store/src/db.rs
Owners: @SkidanovAlex, @bowenwang1996, @nearmax, @evgenykuzyakov

tripple slash
  core/store/src/db.rs
Owners: @nearmax, @evgenykuzyakov, @SkidanovAlex, @bowenwang1996

fix test_one_register test
  runtime/near-vm-logic/tests/test_registers.rs
Owners: @nearmax, @evgenykuzyakov

Fix catchup tests
  chain/client/src/test_utils.rs
  chain/client/tests/catching_up.rs
Owners: @SkidanovAlex, @bowenwang1996

Use rust-rocksdb to replace kvdb/parity-rocksdb (#1774)
  Cargo.lock
  chain/chain/Cargo.toml
  chain/chain/src/chain.rs
  chain/chain/src/store.rs
  chain/chain/src/test_utils.rs
  chain/client/Cargo.toml
  chain/epoch_manager/src/lib.rs
  chain/network/src/peer_store.rs
  chain/network/src/routing.rs
  core/store/Cargo.toml
  core/store/src/db.rs
  core/store/src/lib.rs
  core/store/src/test_utils.rs
  core/store/src/trie/iterator.rs
  core/store/src/trie/mod.rs
  core/store/src/trie/trie_storage.rs
  core/store/src/trie/update.rs
  genesis-tools/genesis-populate/src/lib.rs
  near/Cargo.toml
  near/src/runtime.rs
  runtime/runtime-params-estimator/src/testbed.rs
  runtime/runtime/Cargo.toml
  runtime/runtime/src/ext.rs
  runtime/runtime/src/lib.rs
  runtime/runtime/src/state_viewer.rs
  test-utils/loadtester/src/main.rs
  test-utils/state-viewer/src/main.rs
Owners: @SkidanovAlex, @bowenwang1996, @nearmax, @evgenykuzyakov

Fix catchup tests (#1812)
  chain/client/src/test_utils.rs
  chain/client/tests/catching_up.rs
Owners: @SkidanovAlex, @bowenwang1996

Fix dockerfile after rust-rocksdb
  Dockerfile
Owners: none

Fetch execution outcome when querying transaction status
  chain/chain/src/chain.rs
  chain/chain/src/store.rs
  chain/chain/src/types.rs
  chain/client/src/test_utils.rs
  chain/client/src/view_client.rs
  chain/network/src/metrics.rs
  chain/network/src/peer.rs
  chain/network/src/peer_manager.rs
  chain/network/src/types.rs
  core/primitives/src/transaction.rs
  core/store/src/lib.rs
  near/tests/rpc_nodes.rs
  pytest/tests/sanity/rpc_query.py
  test-utils/testlib/src/user/runtime_user.rs
Owners: @SkidanovAlex, @bowenwang1996, @nearmax, @evgenykuzyakov

Fix dockerfile after rust-rocksdb (#1814)
  Dockerfile
Owners: none

Replace sodium with ed25519_dalek and sha2
  Cargo.lock
  core/crypto/Cargo.toml
  core/crypto/src/signature.rs
  core/crypto/src/test_utils.rs
  core/primitives/Cargo.toml
  core/primitives/src/hash.rs
  runtime/near-vm-logic/Cargo.toml
  runtime/near-vm-logic/src/mocks/mock_external.rs
  runtime/runtime/Cargo.toml
  runtime/runtime/src/ext.rs
Owners: @nearmax, @evgenykuzyakov, @SkidanovAlex, @bowenwang1996

better solution
  chain/chain/src/chain.rs
  chain/client/src/client.rs
  chain/client/src/client_actor.rs
  chain/client/src/sync.rs
  pytest/lib/cluster.py
  pytest/tests/sanity/state_sync1.py
Owners: @SkidanovAlex, @bowenwang1996

fix tests
  chain/client/src/test_utils.rs
  pytest/tests/sanity/state_sync1.py
Owners: @SkidanovAlex, @bowenwang1996

Remove pynear
  pynear/.gitignore
  pynear/bin/generate_python_transaction_proto.sh
  pynear/setup.cfg
  pynear/setup.py
  pynear/src/near/__init__.py
  pynear/src/near/pynear/__init__.py
  pynear/src/near/pynear/b58.py
  pynear/src/near/pynear/cli.py
  pynear/src/near/pynear/key_store.py
  pynear/src/near/pynear/lib.py
  pynear/src/near/pynear/protos/__init__.py
  pynear/src/near/pynear/protos/signed_transaction_pb2.py
  pynear/src/near/pynear/test_utils/__init__.py
  pynear/src/near/pynear/test_utils/cli.py
  pynear/src/near/pynear/test_utils/fixtures.py
  pynear/tests/integration/__init__.py
  pynear/tests/integration/test_cli.py
Owners: none
