Repository near/nearcore, changes with the owners that CODEOWNERS names for each.
All owners: @SkidanovAlex, @bowenwang1996, @nearmax, @evgenykuzyakov

CODEOWNERS:

# CODEOWNERS: https://help.github.com/articles/about-codeowners/

/chain/ @SkidanovAlex @bowenwang1996 

/runtime/ @nearmax @evgenykuzyakov

/genesis-tools/ @nearmax

/core/ @nearmax @evgenykuzyakov @SkidanovAlex @bowenwang1996
/near/ @nearmax @evgenykuzyakov @SkidanovAlex @bowenwang1996

typo
  scripts/parallel_run_tests.py
Owners: none

work around codecov symlink
  scripts/near-coverage-runtime.Dockerfile
  scripts/parallel_coverage.py
Owners: none

typo
  scripts/parallel_run_tests.py
Owners: none

staking2 and repro2 works
  pytest/lib/cluster.py
  pytest/tests/sanity/staking2.py
Owners: none

adding validators
  chain/client/src/sync.rs
Owners: @SkidanovAlex, @bowenwang1996

Get rid of box
  runtime/near-vm-logic/src/dependencies.rs
  runtime/near-vm-logic/src/logic.rs
  runtime/near-vm-logic/src/mocks/mock_external.rs
  runtime/near-vm-logic/tests/test_storage_read_write.rs
  runtime/near-vm-runner/tests/test_ts_contract.rs
  runtime/runtime/src/ext.rs
Owners: @nearmax, @evgenykuzyakov

setup prereq for testing
  chain/client/src/test_utils.rs
  chain/client/src/types.rs
  chain/client/tests/chunks_management.rs
  chain/network/tests/announce_account.rs
  chain/network/tests/routing.rs
Owners: @SkidanovAlex, @bowenwang1996

remove comment
  scripts/near-kcov-runtime.Dockerfile
  scripts/parallel_run_tests.py
Owners: none

optional parameters
  chain/client/src/types.rs
  chain/client/src/view_client.rs
  chain/jsonrpc/client/src/lib.rs
  chain/jsonrpc/src/lib.rs
  chain/jsonrpc/tests/rpc_query.rs
Owners: @SkidanovAlex, @bowenwang1996

Rename to TrieUpdateValuePtr
  core/store/src/lib.rs
  core/store/src/trie/update.rs
  runtime/runtime/src/ext.rs
Owners: @nearmax, @evgenykuzyakov, @SkidanovAlex, @bowenwang1996

RuntimeExtValuePtr wrap
  runtime/runtime/src/ext.rs
Owners: @nearmax, @evgenykuzyakov

skip epoch works after some retry and more timeout
  pytest/lib/cluster.py
  pytest/lib/utils.py
  pytest/tests/sanity/skip_epoch.py
Owners: none

more info in state sync timeout + parts download fix
  chain/client/src/sync.rs
  chain/client/src/types.rs
Owners: @SkidanovAlex, @bowenwang1996

don't do convert_boot_nodes twice
  near/tests/sync_state_nodes.rs
Owners: @nearmax, @evgenykuzyakov, @SkidanovAlex, @bowenwang1996

Add some safe math todos
  runtime/runtime/src/actions.rs
  runtime/runtime/src/lib.rs
Owners: @nearmax, @evgenykuzyakov

implement logtracker for remote node
  pytest/lib/utils.py
Owners: none

Introducing RuntimeLimiters
  runtime/near-runtime-fees/src/lib.rs
Owners: @nearmax, @evgenykuzyakov

Peeking at storage values (#1845)
  core/store/src/lib.rs
  core/store/src/trie/mod.rs
  core/store/src/trie/update.rs
  runtime/near-vm-logic/src/dependencies.rs
  runtime/near-vm-logic/src/lib.rs
  runtime/near-vm-logic/src/logic.rs
  runtime/near-vm-logic/src/mocks/mock_external.rs
  runtime/near-vm-logic/tests/test_storage_read_write.rs
  runtime/near-vm-runner/tests/test_ts_contract.rs
  runtime/runtime/src/ext.rs
  runtime/runtime/tests/test_regression.rs
Owners: @nearmax, @evgenykuzyakov, @SkidanovAlex, @bowenwang1996

Add transaction to tx rpc
  chain/chain/src/chain.rs
  chain/chain/src/store.rs
  chain/client/src/info.rs
  chain/client/src/view_client.rs
  core/primitives/src/transaction.rs
  core/primitives/src/views.rs
  core/store/src/db.rs
  near/tests/rpc_nodes.rs
  runtime/runtime/tests/test_evil_contracts.rs
  test-utils/testlib/src/standard_test_cases.rs
  test-utils/testlib/src/user/runtime_user.rs
Owners: @SkidanovAlex, @bowenwang1996, @nearmax, @evgenykuzyakov

infra for run stress test remotely
  pytest/lib/cluster.py
  pytest/lib/network.py
  pytest/tests/sanity/lightclnt.py
  pytest/tests/sanity/state_sync.py
  pytest/tests/stress/stress.py
Owners: none

flaky test check script
  scripts/flaky_test_check.py
  scripts/parallel_run_tests.py
  scripts/testlib.py
Owners: none

run in 30 core experiment
  scripts/testlib.py
Owners: none

state sync not asking itself (#1857)
  chain/client/src/client.rs
  chain/client/src/client_actor.rs
  chain/client/src/sync.rs
  chain/client/src/test_utils.rs
  chain/client/src/types.rs
  chain/client/tests/catching_up.rs
  chain/network/src/peer_manager.rs
  chain/network/src/types.rs
  near/tests/sync_state_nodes.rs
Owners: @SkidanovAlex, @bowenwang1996, @nearmax, @evgenykuzyakov

still 16 runners at most
  scripts/testlib.py
Owners: none

Fix fork_sync
  chain/chain/src/chain.rs
  chain/client/src/client.rs
  chain/client/src/client_actor.rs
  chain/client/src/sync.rs
  chain/network/src/peer_manager.rs
  pytest/tests/sanity/fork_sync.py
Owners: @SkidanovAlex, @bowenwang1996

Retry failed parallel test sequentially (#1856)
  .gitlab-ci.yml
  scripts/flaky_test_check.py
  scripts/near-kcov-runtime.Dockerfile
  scripts/parallel_coverage.py
  scripts/parallel_run_tests.py
  scripts/testlib.py
Owners: none

update_state_sync if requested state + timeout message fix
  chain/client/src/sync.rs
Owners: @SkidanovAlex, @bowenwang1996

Header sync in presense of adversaries + Adversarial testing infra
  .gitignore
  chain/chain/src/chain.rs
  chain/chain/src/test_utils.rs
  chain/chain/tests/fork_choice.rs
  chain/client/src/client.rs
  chain/client/src/sync.rs
  chain/client/src/types.rs
  near/src/config.rs
  nightly/nightly.txt
  pytest/lib/adversary.py
  pytest/prepare_adversarial_binary.py
  pytest/tests/adversarial/wrong_sync_info.py
  pytest/tests/sanity/state_sync.py
  pytest/tests/sanity/state_sync2.py
Owners: @SkidanovAlex, @bowenwang1996, @nearmax, @evgenykuzyakov

Header sync in presense of adversaries + Adversarial testing infra (#1866)
  .gitignore
  chain/chain/src/chain.rs
  chain/chain/src/test_utils.rs
  chain/chain/tests/fork_choice.rs
  chain/client/src/client.rs
  chain/client/src/sync.rs
  chain/client/src/types.rs
  near/src/config.rs
  nightly/nightly.txt
  pytest/lib/adversary.py
  pytest/prepare_adversarial_binary.py
  pytest/tests/adversarial/wrong_sync_info.py
  pytest/tests/sanity/state_sync.py
  pytest/tests/sanity/state_sync2.py
Owners: @SkidanovAlex, @bowenwang1996, @nearmax, @evgenykuzyakov

Pytest run all remote tests. (#1831)
  pytest/Pipfile
  pytest/Pipfile.lock
  pytest/lib/cluster.py
  pytest/lib/network.py
  pytest/lib/utils.py
  pytest/remote.json
  pytest/requirements.txt
  pytest/tests/delete_remote_nodes.py
  pytest/tests/sanity/lightclnt.py
  pytest/tests/sanity/one_val.py
  pytest/tests/sanity/restart.py
  pytest/tests/sanity/rpc_query.py
  pytest/tests/sanity/rpc_tx_forwarding.py
  pytest/tests/sanity/skip_epoch.py
  pytest/tests/sanity/staking1.py
  pytest/tests/sanity/staking2.py
  pytest/tests/sanity/state_sync.py
  pytest/tests/sanity/state_sync1.py
  pytest/tests/sanity/transactions.py
  pytest/tests/stress/stress.py
Owners: none

Limiters compiles
  runtime/near-runtime-fees/src/lib.rs
  runtime/near-vm-errors/src/lib.rs
  runtime/near-vm-logic/src/config.rs
  runtime/near-vm-logic/src/logic.rs
  runtime/near-vm-runner/src/memory.rs
  runtime/near-vm-runner/src/prepare.rs
  runtime/near-vm-runner/src/runner.rs
Owners: @nearmax, @evgenykuzyakov

Add rpc for gas price (#1852)
  chain/client/src/lib.rs
  chain/client/src/types.rs
  chain/client/src/view_client.rs
  chain/jsonrpc/client/src/lib.rs
  chain/jsonrpc/src/lib.rs
  chain/jsonrpc/tests/rpc_query.rs
  core/primitives/src/views.rs
Owners: @SkidanovAlex, @bowenwang1996, @nearmax, @evgenykuzyakov

update testnet
  Cargo.lock
  near/Cargo.toml
Owners: @nearmax, @evgenykuzyakov, @SkidanovAlex, @bowenwang1996

Fix locked balance
  Cargo.lock
  core/primitives/src/account.rs
  runtime/near-runtime-fees/Cargo.toml
  runtime/near-vm-errors/Cargo.toml
  runtime/near-vm-logic/Cargo.toml
  runtime/near-vm-logic/src/context.rs
  runtime/near-vm-logic/src/logic.rs
  runtime/near-vm-logic/tests/fixtures.rs
  runtime/near-vm-logic/tests/test_context.rs
  runtime/near-vm-runner-standalone/Cargo.toml
  runtime/near-vm-runner/Cargo.toml
  runtime/near-vm-runner/benches/bench.rs
  runtime/near-vm-runner/src/imports.rs
  runtime/near-vm-runner/tests/utils.rs
  runtime/runtime-params-estimator/src/wasmer_estimator.rs
  runtime/runtime/src/actions.rs
  runtime/runtime/src/state_viewer.rs
Owners: @nearmax, @evgenykuzyakov, @SkidanovAlex, @bowenwang1996
