Repository near/nearcore, changes with the owners that CODEOWNERS names for each.
All owners: @SkidanovAlex, @bowenwang1996, @nearmax, @evgenykuzyakov

Use pure rust reed-solomon
  chain/chunks/Cargo.toml
  chain/network/Cargo.toml
  core/primitives/Cargo.toml
Owners: @SkidanovAlex, @bowenwang1996, @nearmax, @evgenykuzyakov

contunue run all tests after some test fail
  scripts/parallel_coverage.py
  scripts/parallel_run_tests.py
  scripts/testlib.py
Owners: none

log wording
  scripts/parallel_run_tests.py
  scripts/testlib.py
Owners: none

Fix error handling in TrieUpdateIterator
  core/store/src/trie/mod.rs
  core/store/src/trie/trie_tests.rs
  core/store/src/trie/update.rs
  near/src/runtime.rs
  runtime/runtime/src/ext.rs
  runtime/runtime/src/state_viewer.rs
Owners: @nearmax, @evgenykuzyakov, @SkidanovAlex, @bowenwang1996

increase timeout for circle
  chain/network/tests/announce_account.rs
Owners: @SkidanovAlex, @bowenwang1996

nearcore build in our official Docker image did not sent telemetry data (resolves #1840) (#1841)
  Dockerfile
Owners: none

Doc for the run function added (#1835)
  runtime/near-vm-runner/src/runner.rs
Owners: @nearmax, @evgenykuzyakov

Fix error handling in TrieUpdateIterator (#1844)
  core/store/src/trie/mod.rs
  core/store/src/trie/trie_tests.rs
  core/store/src/trie/update.rs
  near/src/runtime.rs
  runtime/runtime/src/ext.rs
  runtime/runtime/src/state_viewer.rs
Owners: @nearmax, @evgenykuzyakov, @SkidanovAlex, @bowenwang1996

Use pure rust reed-solomon-erasure (#1842)
  chain/chunks/Cargo.toml
  chain/network/Cargo.toml
  core/primitives/Cargo.toml
Owners: @SkidanovAlex, @bowenwang1996, @nearmax, @evgenykuzyakov

Peeking at storage values
  core/store/src/lib.rs
  core/store/src/trie/mod.rs
  core/store/src/trie/update.rs
  runtime/near-vm-logic/src/dependencies.rs
  runtime/near-vm-logic/src/lib.rs
  runtime/near-vm-logic/src/logic.rs
  runtime/near-vm-logic/src/mocks/mock_external.rs
  runtime/near-vm-logic/tests/test_storage_read_write.rs
  runtime/near-vm-runner/tests/test_ts_contract.rs
  runtime/runtime/src/ext.rs
Owners: @nearmax, @evgenykuzyakov, @SkidanovAlex, @bowenwang1996

Fake proof-of-stake-time
  chain/chain/src/chain.rs
  chain/chain/src/error.rs
  chain/chain/src/finality.rs
  chain/chain/src/test_utils.rs
  chain/chain/src/types.rs
  chain/chain/tests/challenges.rs
  chain/chain/tests/fork_choice.rs
  chain/chain/tests/simple_chain.rs
  chain/client/src/client.rs
  chain/client/tests/challenges.rs
  chain/client/tests/process_blocks.rs
  core/primitives/src/block.rs
  core/primitives/src/test_utils.rs
  genesis-tools/genesis-populate/src/lib.rs
  near/src/runtime.rs
  near/tests/sync_nodes.rs
Owners: @SkidanovAlex, @bowenwang1996, @nearmax, @evgenykuzyakov

optimize coverage to finish in 6 minutes (locally)
  .gitlab-ci.yml
  scripts/cleanup_binary.sh
  scripts/coverage.sh
  scripts/near-coverage-runtime.Dockerfile
  scripts/parallel_coverage.py
  scripts/parallel_run_tests.py
Owners: none

Fix and more tests
  chain/epoch_manager/src/lib.rs
  chain/epoch_manager/src/types.rs
  near/src/runtime.rs
  runtime/runtime/src/lib.rs
Owners: @SkidanovAlex, @bowenwang1996, @nearmax, @evgenykuzyakov

increase circle timeout more as it timeout again
  chain/network/tests/announce_account.rs
Owners: @SkidanovAlex, @bowenwang1996

Progressive Slashing (#1834)
  Cargo.lock
  chain/chain/src/chain.rs
  chain/chain/src/test_utils.rs
  chain/chain/src/types.rs
  chain/epoch_manager/Cargo.toml
  chain/epoch_manager/src/lib.rs
  chain/epoch_manager/src/test_utils.rs
  chain/epoch_manager/src/types.rs
  core/primitives/src/challenge.rs
  near/src/runtime.rs
  near/src/shard_tracker.rs
  runtime/runtime/src/balance_checker.rs
  runtime/runtime/src/lib.rs
Owners: @SkidanovAlex, @bowenwang1996, @nearmax, @evgenykuzyakov

Remove assert in network
  chain/network/src/peer_manager.rs
Owners: @SkidanovAlex, @bowenwang1996

Remove assert in network (#1849)
  chain/network/src/peer_manager.rs
Owners: @SkidanovAlex, @bowenwang1996

Fake proof-of-stake-time
  chain/chain/src/chain.rs
  chain/chain/src/error.rs
  chain/chain/src/finality.rs
  chain/chain/src/test_utils.rs
  chain/chain/src/types.rs
  chain/chain/tests/challenges.rs
  chain/chain/tests/fork_choice.rs
  chain/chain/tests/simple_chain.rs
  chain/client/src/client.rs
  chain/client/tests/challenges.rs
  chain/client/tests/process_blocks.rs
  core/primitives/benches/serialization.rs
  core/primitives/src/block.rs
  core/primitives/src/test_utils.rs
  genesis-tools/genesis-populate/src/lib.rs
  near/src/runtime.rs
  near/tests/sync_nodes.rs
Owners: @SkidanovAlex, @bowenwang1996, @nearmax, @evgenykuzyakov

add comment
  runtime/near-vm-logic/src/dependencies.rs
  runtime/runtime/tests/test_regression.rs
Owners: @nearmax, @evgenykuzyakov

uploading coverage
  scripts/parallel_coverage.py
Owners: none

Update reed-solomon-erasure
  Cargo.lock
  chain/chunks/Cargo.toml
  chain/network/Cargo.toml
  core/primitives/Cargo.toml
  core/primitives/src/sharding.rs
Owners: @SkidanovAlex, @bowenwang1996, @nearmax, @evgenykuzyakov

Addressing comments
  chain/chain/src/chain.rs
  chain/chain/src/types.rs
  core/primitives/src/block.rs
Owners: @SkidanovAlex, @bowenwang1996, @nearmax, @evgenykuzyakov

use gitlab-ci.yml to upload coverage
  .gitlab-ci.yml
  scripts/parallel_coverage.py
Owners: none

just "4"
  core/primitives/Cargo.toml
Owners: @nearmax, @evgenykuzyakov, @SkidanovAlex, @bowenwang1996

add more time
  chain/client/tests/process_blocks.rs
Owners: @SkidanovAlex, @bowenwang1996

Proof-of-stake-time (#1848)
  chain/chain/src/chain.rs
  chain/chain/src/error.rs
  chain/chain/src/finality.rs
  chain/chain/src/test_utils.rs
  chain/chain/src/types.rs
  chain/chain/tests/challenges.rs
  chain/chain/tests/fork_choice.rs
  chain/chain/tests/simple_chain.rs
  chain/client/src/client.rs
  chain/client/tests/challenges.rs
  chain/client/tests/process_blocks.rs
  core/primitives/benches/serialization.rs
  core/primitives/src/block.rs
  core/primitives/src/test_utils.rs
  genesis-tools/genesis-populate/src/lib.rs
  near/src/runtime.rs
  near/tests/sync_nodes.rs
Owners: @SkidanovAlex, @bowenwang1996, @nearmax, @evgenykuzyakov

Add rpc for gas price
  chain/client/src/lib.rs
  chain/client/src/types.rs
  chain/client/src/view_client.rs
  chain/jsonrpc/client/src/lib.rs
  chain/jsonrpc/src/lib.rs
  chain/jsonrpc/tests/rpc_query.rs
  core/primitives/src/views.rs
Owners: @SkidanovAlex, @bowenwang1996, @nearmax, @evgenykuzyakov

Update reed-solomon-erasure (#1851)
  Cargo.lock
  chain/chunks/Cargo.toml
  chain/network/Cargo.toml
  core/primitives/Cargo.toml
  core/primitives/src/sharding.rs
Owners: @SkidanovAlex, @bowenwang1996, @nearmax, @evgenykuzyakov

update hello.wasm
  tests/hello.wasm
Owners: none

update some dependencies
  Cargo.lock
  async-utils/Cargo.toml
  chain/chunks/Cargo.toml
  chain/client/Cargo.toml
  chain/epoch_manager/Cargo.toml
  chain/jsonrpc/Cargo.toml
  core/crypto/Cargo.toml
  core/crypto/src/vrf.rs
  core/primitives/Cargo.toml
  core/store/Cargo.toml
  genesis-tools/genesis-populate/Cargo.toml
  near/Cargo.toml
  runtime/near-vm-runner/Cargo.toml
  runtime/near-vm-runner/tests/test-contract-rs/Cargo.toml
  runtime/runtime-params-estimator/Cargo.toml
  runtime/runtime/Cargo.toml
  test-utils/loadtester/Cargo.toml
  test-utils/testlib/Cargo.toml
Owners: @SkidanovAlex, @bowenwang1996, @nearmax, @evgenykuzyakov

revert test, only keep parallel coverage
  .gitlab-ci.yml
  chain/network/tests/announce_account.rs
Owners: @SkidanovAlex, @bowenwang1996

revert time
  chain/client/tests/process_blocks.rs
Owners: @SkidanovAlex, @bowenwang1996

update some dependencies (#1853)
  Cargo.lock
  async-utils/Cargo.toml
  chain/chunks/Cargo.toml
  chain/client/Cargo.toml
  chain/epoch_manager/Cargo.toml
  chain/jsonrpc/Cargo.toml
  core/crypto/Cargo.toml
  core/crypto/src/vrf.rs
  core/primitives/Cargo.toml
  core/store/Cargo.toml
  genesis-tools/genesis-populate/Cargo.toml
  near/Cargo.toml
  runtime/near-vm-runner/Cargo.toml
  runtime/near-vm-runner/tests/test-contract-rs/Cargo.toml
  runtime/runtime-params-estimator/Cargo.toml
  runtime/runtime/Cargo.toml
  test-utils/loadtester/Cargo.toml
  test-utils/testlib/Cargo.toml
Owners: @SkidanovAlex, @bowenwang1996, @nearmax, @evgenykuzyakov

Parallel coverage (#1823)
  .gitlab-ci.yml
  runtime/near-vm-runner/tests/test_rs_contract.rs
  runtime/near-vm-runner/tests/test_ts_contract.rs
  scripts/__init__,py
  scripts/cleanup_binary.sh
  scripts/coverage.sh
  scripts/near-coverage-runtime.Dockerfile
  scripts/near-test-runtime.Dockerfile
  scripts/parallel_coverage.py
  scripts/parallel_run_tests.py
  scripts/testlib.py
Owners: @nearmax, @evgenykuzyakov

staking1 works after epoch_length=10
  pytest/tests/sanity/staking1.py
Owners: none

use VMError instead of String in FunctionCall error
  Cargo.lock
  core/primitives/Cargo.toml
  core/primitives/src/errors.rs
  runtime/near-vm-errors/Cargo.toml
  runtime/near-vm-errors/src/lib.rs
  runtime/near-vm-runner/src/errors.rs
  runtime/near-vm-runner/src/runner.rs
  runtime/runtime/src/actions.rs
Owners: @nearmax, @evgenykuzyakov, @SkidanovAlex, @bowenwang1996

Retry failed parallel test sequentially
  scripts/parallel_coverage.py
  scripts/parallel_run_tests.py
Owners: none

update gitlab
  .gitlab-ci.yml
Owners: none

move option to config set to zero for tests
  chain/chunks/src/lib.rs
  chain/client/src/client.rs
  chain/client/src/types.rs
  near/src/config.rs
Owners: @SkidanovAlex, @bowenwang1996, @nearmax, @evgenykuzyakov

state sync not asking itself
  chain/client/src/client.rs
  chain/client/src/client_actor.rs
  chain/client/src/sync.rs
  chain/client/src/test_utils.rs
  chain/client/tests/catching_up.rs
  chain/network/src/peer_manager.rs
  chain/network/src/types.rs
Owners: @SkidanovAlex, @bowenwang1996

CODEOWNERS:

# CODEOWNERS: https://help.github.com/articles/about-codeowners/

/chain/ @SkidanovAlex @bowenwang1996 

/runtime/ @nearmax @evgenykuzyakov

/genesis-tools/ @nearmax

/core/ @nearmax @evgenykuzyakov @SkidanovAlex @bowenwang1996
/near/ @nearmax @evgenykuzyakov @SkidanovAlex @bowenwang1996
