Repository near/nearcore, changes with the owners that CODEOWNERS names for each.
All owners: @bowenwang1996, @mzhangmzz, @frol, @khorolets, @chefsale, @mfornet, @pmnoxx, @EgorKulikov, @olonho, @matklad, @ailisp, @longarithm, @nikurt, @posvyatokum, @mhalambek

CODEOWNERS:

# CODEOWNERS: https://help.github.com/articles/about-codeowners/

/chain/ @bowenwang1996 @mzhangmzz
/chain/client/src/view_client.rs @frol @khorolets @chefsale
/chain/client-primitives/ @frol @khorolets @chefsale
/chain/network/ @mfornet @bowenwang1996 @pmnoxx
/chain/jsonrpc/ @frol @khorolets @chefsale
/chain/jsonrpc-primitives/ @frol @khorolets @chefsale
/chain/indexer/ @khorolets @frol
/chain/rosetta-rpc/ @frol

/runtime/ @bowenwang1996 @EgorKulikov @mzhangmzz
/runtime/runtime-params-estimator/ @olonho @matklad
/runtime/near-test-contracts/ @olonho @ailisp @matklad
/runtime/near-vm-runner-standalone/ @olonho @ailisp @matklad
/runtime/near-vm-runner/ @olonho @ailisp @matklad

/genesis-tools/ @ailisp
/tools/rpctypegen/ @frol
/tools/indexer/ @khorolets @frol

/core/  @bowenwang1996 @frol @matklad
/core/store/src/trie @mzhangmzz @longarithm
/neard/ @bowenwang1996 @frol
/nearcore/ @bowenwang1996 @frol
/test-utils/state-viewer @nikurt
/test-utils/runtime-tester @posvyatokum @matklad

/.buildkite/ @chefsale @mhalambek
/scripts/ @chefsale @mhalambek

/docs/ @bowenwang1996 @matklad

Low traffic version
  pytest/lib/mocknet.py
  pytest/tests/mocknet/bounce.py
  pytest/tests/mocknet/load_testing_add_and_delete.py
  pytest/tests/mocknet/load_testing_add_and_delete_helper.py
Owners: none

feat: when logging tracing spans, display both start and end events (#4916)
  Cargo.lock
  neard/src/cli.rs
Owners: @bowenwang1996, @frol

comments and CI
  chain/client/src/view_client.rs
  integration-tests/src/genesis_helpers.rs
  integration-tests/tests/client/challenges.rs
  integration-tests/tests/client/process_blocks.rs
  integration-tests/tests/client/runtimes.rs
  integration-tests/tests/client/sandbox.rs
  nearcore/src/lib.rs
  nearcore/src/migrations.rs
  nearcore/src/runtime/mod.rs
  nearcore/src/shard_tracker.rs
  nearcore/tests/economics.rs
  test-utils/runtime-tester/src/run_test.rs
  test-utils/state-viewer/src/main.rs
  test-utils/state-viewer/src/state_dump.rs
Owners: @frol, @khorolets, @chefsale, @bowenwang1996, @posvyatokum, @matklad, @nikurt

fix: invalidate old compiled contracts
  runtime/near-vm-runner/src/cache.rs
Owners: @olonho, @ailisp, @matklad

refactor: cleanup handling of compilation and caching errors in vm_runner
  runtime/near-vm-errors/src/lib.rs
  runtime/near-vm-runner/src/cache.rs
  runtime/near-vm-runner/src/errors.rs
  runtime/near-vm-runner/src/preload.rs
  runtime/near-vm-runner/src/runner.rs
  runtime/near-vm-runner/src/tests/contract_preload.rs
  runtime/near-vm-runner/src/wasmer2_runner.rs
  runtime/near-vm-runner/src/wasmer_runner.rs
Owners: @bowenwang1996, @EgorKulikov, @mzhangmzz, @olonho, @ailisp, @matklad

feat: add tar files and sandbox to macos release
  scripts/mac-release.sh
Owners: @chefsale, @mhalambek

Fix CI
  integration-tests/tests/client/sandbox.rs
Owners: none

address comments
  nearcore/src/shard_tracker.rs
Owners: @bowenwang1996, @frol

fix AppendOnlyMap
  nearcore/src/shard_tracker.rs
Owners: @bowenwang1996, @frol
