Repository near/nearcore, changes with the owners that CODEOWNERS names for each.
All owners: @bowenwang1996, @frol, @khorolets, @chefsale, @mfornet, @pmnoxx, @EgorKulikov, @olonho, @matklad, @ailisp, @artob, @frankbraun, @nearmax, @mhalambek

Report the earliest available block in the status response (#4502)
  chain/chain/src/store.rs
  chain/client/src/client_actor.rs
  core/primitives/src/views.rs
Owners: @bowenwang1996, @frol, @nearmax

fix(sandbox): add `--release` to Makefile for `sandbox-release`
  Makefile
Owners: none

pytest: fix sandbox test
  nightly/complete_nayduck_set.txt
  nightly/nightly.txt
  nightly/tests_for_nayduck.txt
  pytest/tests/sandbox/patch_state.py
Owners: none

test
  runtime/runtime-params-estimator/src/cases.rs
Owners: @olonho, @matklad

Disable LTO in release builds (#4507)
  Cargo.toml
Owners: none

test
  runtime/runtime-params-estimator/src/cases.rs
Owners: @olonho, @matklad

fix(sandbox): add `--release` to Makefile for `sandbox-release` (#4532)
  Makefile
Owners: none

pytest: fix sandbox test (#4533)
  nightly/complete_nayduck_set.txt
  nightly/nightly.txt
  nightly/tests_for_nayduck.txt
  pytest/tests/sandbox/patch_state.py
Owners: none

test
  runtime/runtime-params-estimator/src/function_call.rs
Owners: @olonho, @matklad

CODEOWNERS:

# CODEOWNERS: https://help.github.com/articles/about-codeowners/

/chain/ @bowenwang1996
/chain/client/src/view_client.rs @frol @khorolets @chefsale
/chain/client-primitives/ @frol @khorolets @chefsale
/chain/network/ @mfornet @bowenwang1996 @pmnoxx
/chain/epoch_manager/ @bowenwang1996
/chain/jsonrpc/ @frol @khorolets @chefsale
/chain/jsonrpc-primitives/ @frol @khorolets @chefsale
/chain/indexer/ @khorolets @frol
/chain/rosetta-rpc/ @frol

/runtime/ @bowenwang1996 @EgorKulikov
/runtime/runtime-params-estimator/ @olonho @matklad
/runtime/near-evm-runner/ @ailisp @artob @frankbraun
/runtime/near-test-contracts/ @olonho @ailisp @matklad
/runtime/near-vm-runner-standalone/ @olonho @ailisp @matklad
/runtime/near-vm-runner/ @olonho @ailisp @matklad

/genesis-tools/ @ailisp
/tools/rpctypegen/ @frol
/tools/indexer/ @khorolets @frol

/core/  @bowenwang1996 @frol @nearmax
/neard/ @bowenwang1996 @frol
/nearcore/ @bowenwang1996 @frol

/.buildkite/ @chefsale @mhalambek
/scripts/ @chefsale @mhalambek

/docs/ @bowenwang1996 @matklad
