Repository near/nearcore, changes with the owners that CODEOWNERS names for each.
All owners: @SkidanovAlex, @bowenwang1996, @frol, @evgenykuzyakov, @khorolets, @chain-police, @olonho, @willemneal, @ailisp, @nearmax

Version bump from 1.8.0-rc.1 to 1.8.0-rc.2
  neard/Cargo.toml
Owners: @bowenwang1996, @frol, @evgenykuzyakov, @nearmax, @SkidanovAlex

version bump from 1.8.0-rc.2 to 1.8.0-rc.3
  neard/Cargo.toml
Owners: @bowenwang1996, @frol, @evgenykuzyakov, @nearmax, @SkidanovAlex

fix(jsonrpc): Fixed race condition in broadcast_tx_* methods
  chain/jsonrpc/src/lib.rs
Owners: @frol, @evgenykuzyakov

Check if AVX is available. (#3070)
  runtime/near-vm-runner/src/wasmer_runner.rs
Owners: @olonho, @ailisp

Add comments to fees
  core/primitives/src/receipt.rs
  runtime/near-runtime-fees/src/lib.rs
  runtime/near-vm-logic/src/config.rs
Owners: @bowenwang1996, @frol, @evgenykuzyakov, @nearmax, @SkidanovAlex, @chain-police

Typo
  core/primitives/src/receipt.rs
Owners: @bowenwang1996, @frol, @evgenykuzyakov, @nearmax, @SkidanovAlex

fix: formatting
  runtime/runtime-params-estimator/src/main.rs
  runtime/runtime-params-estimator/src/testbed_runners.rs
Owners: @olonho, @willemneal

fix(pytest): use python proxy framework to isolate nodes instead of unix utilities
  nightly/nightly.txt
  pytest/lib/cluster.py
  pytest/lib/proxy.py
  pytest/lib/proxy_instances.py
  pytest/tests/stress/stress.py
Owners: none

Optimize gas counter regular ops deduction
  runtime/near-vm-logic/src/gas_counter.rs
  runtime/near-vm-logic/src/logic.rs
Owners: @evgenykuzyakov, @chain-police

Add comments and fix deduct_gas to set remaining ops to 0
  runtime/near-vm-logic/src/gas_counter.rs
Owners: @evgenykuzyakov, @chain-police

fix(logging): avoid logging large messages
  chain/network/src/peer_manager.rs
  chain/network/src/types.rs
Owners: @SkidanovAlex, @bowenwang1996

feat: add some debug functionalities to state viewer (#3072)
  test-utils/state-viewer/src/main.rs
Owners: none

Update README.md (#3064)
  README.md
Owners: none

Fix for docker release tag name
  scripts/docker-release.sh
Owners: none

fix(ci): Fix for docker release tag name (#3083)
  scripts/docker-release.sh
Owners: none

Create jenkinsfile
  jenkinsfile
Owners: none

fix(ci): Fixed typo in the release scripts for docker
  scripts/docker-release.sh
Owners: none

fix(ci): Fixed typo in the release scripts for docker (#3087)
  scripts/docker-release.sh
Owners: none

Remove Indexer::init_configs, pub use init_configs instead. Address review suggestions.
  Cargo.toml
  chain/indexer/src/lib.rs
  tools/indexer/example/Cargo.toml
  tools/indexer/example/src/main.rs
Owners: @khorolets, @frol

Move helper structs and functions to separate mod
  chain/indexer/src/lib.rs
  tools/indexer/example/src/configs.rs
  tools/indexer/example/src/main.rs
Owners: @khorolets, @frol

Remove openssl-probe dependency from telemetry, moved it no the root, call it in neard bin. Add patched version of openssl-probe to the dependencies. Use patched openssl-probe in tools/indexer/example
  Cargo.lock
  Cargo.toml
  chain/indexer/Cargo.toml
  chain/indexer/src/lib.rs
  chain/telemetry/Cargo.toml
  chain/telemetry/src/lib.rs
  neard/src/main.rs
  tools/indexer/example/Cargo.toml
  tools/indexer/example/src/main.rs
Owners: @khorolets, @frol, @SkidanovAlex, @bowenwang1996, @evgenykuzyakov, @nearmax

Update NEAR Indexer README
  chain/indexer/README.md
Owners: @khorolets, @frol

Small tweaks
  neard/src/main.rs
  tools/indexer/example/src/main.rs
Owners: @bowenwang1996, @frol, @evgenykuzyakov, @nearmax, @SkidanovAlex, @khorolets

Remove patched openssl-probe (breaking changes with other crates that depends on this one)
  Cargo.lock
  Cargo.toml
Owners: none

Expose `neard::init_configs` into NEAR Indexer. Update `tools/indexer/example` and NEAR Indexer README according to changes.
  Cargo.lock
  chain/indexer/Cargo.toml
  chain/indexer/README.md
  chain/indexer/src/lib.rs
  tools/indexer/example/Cargo.toml
  tools/indexer/example/src/main.rs
Owners: @khorolets, @frol

Remove patch dependency in tools/indexer/explorer (patched in root of workspace)
  tools/indexer/example/Cargo.toml
Owners: @khorolets, @frol

Add use of openssl_probe to neard (CI test failing)
  neard/src/main.rs
  tools/indexer/example/src/main.rs
Owners: @bowenwang1996, @frol, @evgenykuzyakov, @nearmax, @SkidanovAlex, @khorolets

Add openssl-probe dependency to neard
  Cargo.lock
  Cargo.toml
  neard/Cargo.toml
  neard/src/main.rs
Owners: @bowenwang1996, @frol, @evgenykuzyakov, @nearmax, @SkidanovAlex

fix(params): add wasmtime_default feature for vm logic.
  runtime/near-vm-logic/Cargo.toml
  runtime/runtime-params-estimator/Cargo.toml
  runtime/runtime-params-estimator/emu-cost/README.md
Owners: @evgenykuzyakov, @chain-police, @olonho, @willemneal

Delay estimator
  chain/chain/src/chain.rs
  chain/chain/src/delay_detector.rs
  chain/chain/src/lib.rs
  chain/client/src/client_actor.rs
  chain/network/src/peer.rs
  chain/network/src/peer_manager.rs
Owners: @SkidanovAlex, @bowenwang1996

fix(gc): put gc into a separate actor
  chain/chain/src/chain.rs
  chain/chain/src/store.rs
  chain/chain/tests/gc.rs
  chain/client/src/client.rs
  chain/client/src/gc_actor.rs
  chain/client/src/lib.rs
  chain/client/src/view_client.rs
  chain/client/tests/process_blocks.rs
  core/chain-configs/src/client_config.rs
  neard/src/config.rs
  neard/src/lib.rs
Owners: @SkidanovAlex, @bowenwang1996, @frol, @evgenykuzyakov, @nearmax

feat: NEAR Indexer can init configs (#3082)
  Cargo.lock
  Cargo.toml
  chain/indexer/README.md
  chain/indexer/src/lib.rs
  chain/telemetry/Cargo.toml
  chain/telemetry/src/lib.rs
  neard/Cargo.toml
  neard/src/main.rs
  tools/indexer/example/Cargo.toml
  tools/indexer/example/src/configs.rs
  tools/indexer/example/src/main.rs
Owners: @khorolets, @frol, @SkidanovAlex, @bowenwang1996, @evgenykuzyakov, @nearmax

address comments
  chain/chain/src/types.rs
Owners: @SkidanovAlex, @bowenwang1996

fix: gas price (#3067)
  chain/chain/src/types.rs
  core/primitives/src/version.rs
  neard/res/genesis_config.json
  pytest/tests/sanity/upgradable.py
Owners: @SkidanovAlex, @bowenwang1996, @frol, @evgenykuzyakov, @nearmax

CODEOWNERS:

# CODEOWNERS: https://help.github.com/articles/about-codeowners/

/chain/ @SkidanovAlex @bowenwang1996
/chain/jsonrpc/ @frol @evgenykuzyakov
/chain/indexer/ @khorolets @frol
/chain/rosettarpc/ @frol

/runtime/ @evgenykuzyakov @chain-police
/runtime/runtime-params-estimator/ @olonho @willemneal
/runtime/near-vm-runner/ @olonho @ailisp

/genesis-tools/ @nearmax
/tools/rpctypegen/ @chain-police
/tools/indexer/ @khorolets @frol

/core/  @bowenwang1996 @frol @evgenykuzyakov @nearmax @SkidanovAlex
/neard/ @bowenwang1996 @frol @evgenykuzyakov @nearmax @SkidanovAlex
