Repository near/nearcore, changes with the owners that CODEOWNERS names for each.
All owners: @SkidanovAlex, @bowenwang1996, @frol, @evgenykuzyakov, @khorolets, @chain-police, @olonho, @willemneal, @ailisp, @nearmax

CODEOWNERS:

# CODEOWNERS: https://help.github.com/articles/about-codeowners/

/chain/ @SkidanovAlex @bowenwang1996
/chain/jsonrpc/ @frol @evgenykuzyakov
/chain/indexer/ @khorolets @frol
/chain/rosettarpc/ @frol

/runtime/ @evgenykuzyakov @chain-police
/runtime/runtime-params-estimator/ @olonho @willemneal
/runtime/near-vm-runner/ @olonho @ailisp

/genesis-tools/ @nearmax
/tools/rpctypegen/ @chain-police
/tools/indexer/ @khorolets @frol

/core/  @bowenwang1996 @frol @evgenykuzyakov @nearmax @SkidanovAlex
/neard/ @bowenwang1996 @frol @evgenykuzyakov @nearmax @SkidanovAlex

Rename nayduck.txt to tests_for_nayduck.txt
  nightly/tests_for_nayduck.txt
Owners: none

Rename runner.py to nayduck.py
  nightly/nayduck.py
Owners: none

Adding NayDuck (#3046)
  nightly/nayduck.py
  nightly/tests_for_nayduck.txt
Owners: none

Right name for the file
  nightly/nayduck.py
Owners: none

Right name for the file
  nightly/nayduck.py
Owners: none

debug chunk extra
  chain/chain/src/validate.rs
Owners: @SkidanovAlex, @bowenwang1996

infra: NayDuck. Right default test file. (#3047)
  nightly/nayduck.py
Owners: none

fix: prevent repetitive initialization on node start (#3035)
  chain/chain/src/chain.rs
  chain/chain/src/test_utils.rs
  chain/chain/src/types.rs
  core/chain-configs/src/genesis_config.rs
  genesis-tools/genesis-populate/src/lib.rs
  neard/src/runtime.rs
Owners: @SkidanovAlex, @bowenwang1996, @frol, @evgenykuzyakov, @nearmax

testnet hot fix
  Cargo.lock
  chain/client/src/client.rs
Owners: @SkidanovAlex, @bowenwang1996

fix(script): fix parse issue in compare_costs.py and wrong cost in genesis (#3031)
  runtime/runtime-params-estimator/emu-cost/compare_costs.py
  runtime/runtime-params-estimator/emu-cost/safety_mutiplier.py
  runtime/runtime-params-estimator/src/runtime_fees_generator.rs
Owners: @olonho, @willemneal

NayDuck. Adding ability to pass uncommited test file and include test files in one another
  nightly/nayduck.py
Owners: none

fix(client): fix trie_node_touched bug (#3025)
  chain/chain/src/test_utils.rs
  chain/chain/src/types.rs
  core/store/src/db.rs
  core/store/src/lib.rs
  core/store/src/test_utils.rs
  core/store/src/trie/mod.rs
  core/store/src/trie/shard_tries.rs
  core/store/src/trie/state_parts.rs
  core/store/src/trie/trie_storage.rs
  core/store/src/trie/trie_tests.rs
  core/store/src/trie/update.rs
  neard/src/runtime.rs
  pytest/lib/cluster.py
  pytest/tests/sanity/concurrent_function_calls.py
  runtime/runtime/src/lib.rs
Owners: @SkidanovAlex, @bowenwang1996, @frol, @evgenykuzyakov, @nearmax, @chain-police

fix(script): docker build from a fork has colon in branch name
  scripts/docker-release.sh
Owners: none

fix(script): docker build from a fork has colon in branch name (#3053)
  scripts/docker-release.sh
Owners: none

fix(chain): always use the right chunk extra when producing chunks
  chain/chain/src/chain.rs
  chain/client/src/client.rs
  chain/client/src/test_utils.rs
  chain/client/tests/challenges.rs
  chain/client/tests/process_blocks.rs
  core/primitives/src/test_utils.rs
  runtime/near-vm-runner/tests/res/test_contract_rs.wasm
  runtime/near-vm-runner/tests/test-contract-rs/src/lib.rs
Owners: @SkidanovAlex, @bowenwang1996, @frol, @evgenykuzyakov, @nearmax, @olonho, @ailisp

always validate block on receival
  chain/chain/src/chain.rs
  chain/chain/tests/simple_chain.rs
  chain/client/src/client_actor.rs
  chain/client/tests/process_blocks.rs
Owners: @SkidanovAlex, @bowenwang1996

NayDuck. Adding ability to pass uncommited test file and include test files in one another (#3052)
  nightly/nayduck.py
Owners: none

fix
  chain/chain/tests/simple_chain.rs
  chain/client/src/client_actor.rs
Owners: @SkidanovAlex, @bowenwang1996

Test for controlled edge nonce
  chain/network/src/peer.rs
  nightly/nightly.txt
  pytest/lib/peer.py
  pytest/tests/sanity/controlled_edge_nonce.py
  pytest/tests/spec/network/handshake.py
Owners: @SkidanovAlex, @bowenwang1996

fix: Issue with large nonce not checked
  chain/network/src/peer.rs
  chain/network/src/peer_manager.rs
  chain/network/src/routing.rs
  pytest/tests/spec/network/controlled_edge_nonce.py
Owners: @SkidanovAlex, @bowenwang1996

Increase threshold to 1000
  chain/network/src/peer_manager.rs
Owners: @SkidanovAlex, @bowenwang1996

feat: add CLI arg for wasmtime
  runtime/runtime-params-estimator/Cargo.toml
  runtime/runtime-params-estimator/src/cases.rs
  runtime/runtime-params-estimator/src/main.rs
  runtime/runtime-params-estimator/src/testbed_runners.rs
Owners: @olonho, @willemneal

fix test
  runtime/near-vm-runner/tests/test_rs_contract.rs
Owners: @olonho, @ailisp

WIP Delay estimator
  chain/chain/src/chain.rs
  chain/chain/src/delay_detector.rs
  chain/chain/src/lib.rs
  chain/client/src/client_actor.rs
  chain/network/src/peer.rs
  chain/network/src/peer_manager.rs
Owners: @SkidanovAlex, @bowenwang1996

fix(chain): always use the right chunk extra when producing chunks (#3056)
  chain/chain/src/chain.rs
  chain/client/src/client.rs
  chain/client/src/test_utils.rs
  chain/client/tests/challenges.rs
  chain/client/tests/process_blocks.rs
  core/primitives/src/test_utils.rs
  runtime/near-vm-runner/tests/res/test_contract_rs.wasm
  runtime/near-vm-runner/tests/test-contract-rs/src/lib.rs
  runtime/near-vm-runner/tests/test_rs_contract.rs
Owners: @SkidanovAlex, @bowenwang1996, @frol, @evgenykuzyakov, @nearmax, @olonho, @ailisp

Fix large nonce issue (#3013)
  chain/network/src/peer.rs
  chain/network/src/peer_manager.rs
  chain/network/src/routing.rs
  nightly/nightly.txt
  pytest/lib/peer.py
  pytest/tests/sanity/controlled_edge_nonce.py
Owners: @SkidanovAlex, @bowenwang1996

fix(network): correctly compare epoch id when processing account announcement
  chain/client/src/view_client.rs
  pytest/lib/cluster.py
  pytest/tests/sanity/switch_node_key.py
Owners: @SkidanovAlex, @bowenwang1996

fix: nit
  runtime/runtime-params-estimator/src/cases.rs
  runtime/runtime-params-estimator/src/main.rs
Owners: @olonho, @willemneal

address comments
  chain/client/src/client_actor.rs
  chain/client/tests/process_blocks.rs
Owners: @SkidanovAlex, @bowenwang1996

Syncing to completion
  chain/client/src/client_actor.rs
  chain/client/src/sync.rs
Owners: @SkidanovAlex, @bowenwang1996

Naive fix of #2916
  chain/chunks/src/lib.rs
  pytest/lib/peer.py
  pytest/lib/serializer.py
  pytest/tests/sanity/repro_2916.py
Owners: @SkidanovAlex, @bowenwang1996

WIP fix: Fixes to stress.py
  chain/client/src/client.rs
  chain/client/src/client_actor.rs
  chain/client/src/info.rs
  chain/client/src/sync.rs
  chain/client/src/types.rs
  core/store/src/lib.rs
  nightly/nightly.txt
  pytest/lib/cluster.py
  pytest/tests/stress/stress.py
Owners: @SkidanovAlex, @bowenwang1996, @frol, @evgenykuzyakov, @nearmax

Adjusting the test to the new realities
  pytest/lib/peer.py
  pytest/tests/sanity/repro_2916.py
Owners: none

Fixing #2916 for real
  chain/chunks/src/lib.rs
  chain/client/src/client.rs
  chain/client/src/client_actor.rs
  core/store/src/lib.rs
  nightly/nightly.txt
  pytest/lib/peer.py
  pytest/tests/sanity/repro_2916.py
  pytest/tests/stress/stress.py
Owners: @SkidanovAlex, @bowenwang1996, @frol, @evgenykuzyakov, @nearmax

Apply suggestions from code review
  chain/chunks/src/lib.rs
Owners: @SkidanovAlex, @bowenwang1996

Addressing comments
  chain/client/src/client_actor.rs
  chain/client/src/info.rs
  chain/client/src/sync.rs
  chain/client/src/types.rs
  pytest/lib/peer.py
  pytest/tests/sanity/repro_2916.py
Owners: @SkidanovAlex, @bowenwang1996

Revert "fix(rpc): do not serve rpc while the node is syncing (#2985)"
  chain/jsonrpc/client/src/lib.rs
  chain/jsonrpc/src/lib.rs
  chain/jsonrpc/tests/rpc_transactions.rs
  pytest/tests/sanity/rpc_sync.py
Owners: @frol, @evgenykuzyakov

Revert "fix(rpc): do not serve rpc while the node is syncing (#2985)" (#3059)
  chain/jsonrpc/client/src/lib.rs
  chain/jsonrpc/src/lib.rs
  chain/jsonrpc/tests/rpc_transactions.rs
  pytest/tests/sanity/rpc_sync.py
Owners: @frol, @evgenykuzyakov

added print for mx +b formula data
  runtime/runtime-params-estimator/src/main.rs
  runtime/runtime-params-estimator/src/vm_estimator.rs
Owners: @olonho, @willemneal

feat: add ability to apply blocks in state viewer
  test-utils/state-viewer/src/main.rs
Owners: none
