Repository near/nearcore, changes with the owners that CODEOWNERS names for each.
All owners: @bowenwang1996, @mzhangmzz, @mm-near, @khorolets, @rtsai123, @mina86, @nikurt, @frol, @EgorKulikov, @matklad, @jakmeier, @Longarithm, @nagisa, @miraclx, @longarithm, @posvyatokum, @mhalambek

CODEOWNERS:

# CODEOWNERS: https://help.github.com/articles/about-codeowners/

/chain/ @bowenwang1996 @mzhangmzz @mm-near
/chain/client/src/view_client.rs @khorolets @rtsai123
/chain/client-primitives/ @mina86 @nikurt
/chain/network/ @mm-near @bowenwang1996
/chain/network-primitives/ @mm-near
/chain/jsonrpc/ @mina86 @nikurt
/chain/jsonrpc-primitives/ @mina86 @nikurt
/chain/indexer/ @khorolets @mm-near
/chain/indexer-primitives/ @khorolets @mm-near
/chain/rosetta-rpc/ @frol @mina86
/utils  @mm-near

/runtime/ @bowenwang1996 @EgorKulikov @mzhangmzz @mm-near
/runtime/runtime-params-estimator/ @matklad @jakmeier
/runtime/near-test-contracts/ @matklad @Longarithm
/runtime/near-vm-runner-standalone/ @matklad @nagisa
/runtime/near-vm-runner/  @matklad @nagisa

/genesis-tools/ @nikurt
/tools/indexer/ @khorolets
/tools/themis/ @miraclx

/core/  @bowenwang1996 @matklad @mm-near
/core/store/src/trie @mzhangmzz @longarithm
/neard/ @bowenwang1996 @mm-near
/nearcore/ @bowenwang1996 @mm-near
/test-utils/state-viewer @nikurt
/test-utils/runtime-tester @posvyatokum @matklad

/.buildkite/ @rtsai123 @mhalambek
/scripts/ @rtsai123 @mhalambek @mina86 @nikurt

/docs/ @bowenwang1996 @matklad @mm-near
/pytest/ @mm-near @mina86

add some debug lines for debugging why blocks catchup for archival nodes takes too long (#6410)
  chain/chain/src/chain.rs
  chain/client/src/client.rs
  chain/client/src/sync.rs
Owners: @bowenwang1996, @mzhangmzz, @mm-near

implement chunk nodes cache
  Cargo.lock
  core/primitives/src/types.rs
  core/store/Cargo.toml
  core/store/src/trie/trie_storage.rs
  core/store/src/trie/trie_tests.rs
Owners: @bowenwang1996, @matklad, @mm-near, @mzhangmzz, @longarithm

update test
  core/store/src/trie/trie_tests.rs
Owners: @mzhangmzz, @longarithm

remove unused function
  core/store/src/trie/trie_storage.rs
  core/store/src/trie/trie_tests.rs
Owners: @mzhangmzz, @longarithm

Only record received chunks after they were requested.
  chain/client/src/chunks_delay_tracker.rs
  chain/client/src/client.rs
  chain/client/src/metrics.rs
  nearcore/Cargo.toml
  nearcore/src/runtime/mod.rs
Owners: @bowenwang1996, @mzhangmzz, @mm-near

endtoend: make more resilient to exceptions and other minor improvements (#6411)
  pytest/endtoend/endtoend.py
Owners: @mm-near, @mina86
