Repository near/nearcore, changes with the owners that CODEOWNERS names for each.
All owners: @SkidanovAlex, @bowenwang1996, @mfornet, @frol, @khorolets, @evgenykuzyakov, @olonho, @willemneal, @ailisp, @nearmax

CODEOWNERS:

# CODEOWNERS: https://help.github.com/articles/about-codeowners/

/chain/ @SkidanovAlex @bowenwang1996
/chain/network/ @mfornet @bowenwang1996
/chain/jsonrpc/ @frol @bowenwang1996
/chain/indexer/ @khorolets @frol
/chain/rosetta-rpc/ @frol

/runtime/ @evgenykuzyakov
/runtime/runtime-params-estimator/ @olonho @willemneal
/runtime/near-vm-runner/ @olonho @ailisp

/genesis-tools/ @evgenykuzyakov @ailisp
/tools/rpctypegen/ @frol
/tools/indexer/ @khorolets @frol

/core/  @bowenwang1996 @frol @evgenykuzyakov @nearmax @SkidanovAlex
/neard/ @bowenwang1996 @frol @evgenykuzyakov @nearmax @SkidanovAlex

Use 1M contracts.
  runtime/runtime-params-estimator/emu-cost/data_builder.py
  runtime/runtime-params-estimator/emu-cost/io_cost.sh
Owners: @olonho, @willemneal

WIP
  runtime/runtime-params-estimator/emu-cost/data_builder.py
  runtime/runtime-params-estimator/emu-cost/io_cost.sh
Owners: @olonho, @willemneal

Functional graph builder.
  runtime/runtime-params-estimator/emu-cost/README.md
  runtime/runtime-params-estimator/emu-cost/counter_plugin/Makefile
  runtime/runtime-params-estimator/emu-cost/counter_plugin/counter.c
  runtime/runtime-params-estimator/emu-cost/counter_plugin/libcounter.so
  runtime/runtime-params-estimator/emu-cost/data_builder.py
  runtime/runtime-params-estimator/emu-cost/io_cost.sh
  runtime/runtime-params-estimator/estimate.sh
Owners: @olonho, @willemneal

IO operation costs math.
  runtime/runtime-params-estimator/emu-cost/README.md
Owners: @olonho, @willemneal

Count IO as well.
  runtime/runtime-params-estimator/emu-cost/counter_plugin/Makefile
  runtime/runtime-params-estimator/emu-cost/counter_plugin/counter.c
  runtime/runtime-params-estimator/emu-cost/counter_plugin/libcounter.so
  runtime/runtime-params-estimator/emu-cost/counter_plugin/test.c
Owners: @olonho, @willemneal

Removed loop in script
  runtime/runtime-params-estimator/emu-cost/io_cost.sh
Owners: @olonho, @willemneal

Update runtime/runtime-params-estimator/emu-cost/README.md
  runtime/runtime-params-estimator/emu-cost/README.md
Owners: @olonho, @willemneal

Update runtime/runtime-params-estimator/emu-cost/README.md
  runtime/runtime-params-estimator/emu-cost/README.md
Owners: @olonho, @willemneal

Take IO costs into account when counting costs (#3483)
  runtime/runtime-params-estimator/emu-cost/README.md
  runtime/runtime-params-estimator/emu-cost/counter_plugin/Makefile
  runtime/runtime-params-estimator/emu-cost/counter_plugin/counter.c
  runtime/runtime-params-estimator/emu-cost/counter_plugin/libcounter.so
  runtime/runtime-params-estimator/emu-cost/counter_plugin/test.c
  runtime/runtime-params-estimator/emu-cost/data_builder.py
  runtime/runtime-params-estimator/emu-cost/io_cost.sh
  runtime/runtime-params-estimator/estimate.sh
Owners: @olonho, @willemneal

tests CryptoZombies contract ownership functions
  test-utils/testlib/src/standard_evm_cases.rs
  tests/test_cases_runtime.rs
Owners: none

factor out function deploy_zombie_attack_contract
  test-utils/testlib/src/standard_evm_cases.rs
Owners: none

chore: move VMConfig and ApplyState
  Cargo.lock
  core/primitives/src/config.rs
  core/primitives/src/lib.rs
  core/primitives/src/profile.rs
  core/primitives/src/runtime.rs
  core/runtime-configs/src/lib.rs
  runtime/near-vm-logic/Cargo.toml
  runtime/near-vm-logic/src/config.rs
  runtime/near-vm-logic/src/context.rs
  runtime/near-vm-logic/src/dependencies.rs
  runtime/near-vm-logic/src/gas_counter.rs
  runtime/near-vm-logic/src/lib.rs
  runtime/near-vm-logic/src/logic.rs
  runtime/near-vm-logic/src/mocks/mock_external.rs
  runtime/near-vm-logic/src/types.rs
  runtime/near-vm-logic/tests/helpers.rs
  runtime/near-vm-runner-standalone/example-contract/Cargo.lock
  runtime/near-vm-runner-standalone/src/main.rs
  runtime/near-vm-runner/src/runner.rs
  runtime/near-vm-runner/src/wasmer_runner.rs
  runtime/near-vm-runner/src/wasmtime_runner.rs
  runtime/runtime/src/lib.rs
  runtime/runtime/src/verifier.rs
Owners: @bowenwang1996, @frol, @evgenykuzyakov, @nearmax, @SkidanovAlex, @olonho, @ailisp

test CryptoZombies contract level-up functionality
  test-utils/testlib/src/standard_evm_cases.rs
  tests/test_cases_runtime.rs
Owners: none

chore: move run_vm_profiled behind `costs_counting` flag
  runtime/near-vm-runner/src/runner.rs
Owners: @olonho, @ailisp

fix: formatting
  runtime/near-vm-runner/src/runner.rs
Owners: @olonho, @ailisp

feat: add pre-commit hook to run rustfmt
  Cargo.lock
  Cargo.toml
Owners: none

all test works when run tests locally
  pytest/tests/evm/balancer_betanet.py
  pytest/tests/evm/balancer_localnode.py
Owners: none

add tests to nayduck
  nightly/evm.txt
  nightly/tests_for_nayduck.txt
Owners: none

Expand the CryptoZombies tests. (#3722)
  test-utils/testlib/src/standard_evm_cases.rs
  tests/test_cases_runtime.rs
Owners: none

delete retrying.py and fix tests
  nightly/bridge.txt
  pytest/Pipfile
  pytest/Pipfile.lock
  pytest/lib/bridge.py
  pytest/lib/cluster.py
  pytest/lib/mocknet.py
  pytest/lib/reattempt.py
  pytest/lib/utils.py
  pytest/requirements.txt
  pytest/tests/bridge/end2end.py
  pytest/tests/bridge/multiple_relays.py
  pytest/tests/bridge/same_block.py
  pytest/tests/bridge/turn_off_relays.py
  pytest/tests/bridge/two_users.py
  pytest/tests/sanity/rpc_state_changes.py
  pytest/tests/sanity/state_sync4.py
  pytest/tests/sanity/switch_node_key.py
  pytest/tests/sanity/validator_switch_key.py
Owners: none

pin sklearn version
  pytest/requirements.txt
Owners: none

WIP
  pytest/lib/bridge.py
  pytest/lib/cluster.py
  pytest/tests/bridge/end2end.py
  pytest/tests/bridge/multiple_relays.py
  pytest/tests/bridge/turn_off_relays.py
  pytest/tests/bridge/two_users.py
Owners: none

upd
  pytest/lib/bridge.py
  pytest/tests/bridge/same_block.py
Owners: none

comments
  pytest/lib/bridge.py
Owners: none

WIP
  nightly/bridge.txt
  pytest/lib/account.py
  pytest/lib/bridge.py
  pytest/lib/bridge_helpers/write_config.js
  pytest/lib/cluster.py
  pytest/lib/key.py
  pytest/lib/messages/__init__.py
  pytest/lib/messages/bridge.py
  pytest/lib/transaction.py
  pytest/requirements.txt
  pytest/tests/bridge/end2end.py
  pytest/tests/bridge/multiple_relays.py
  pytest/tests/bridge/turn_off_relays.py
  pytest/tests/bridge/two_users.py
  pytest/tests/mocknet/load_testing_helper.py
Owners: none

feat(testing): bridge testing infrastructure major update (#3658)
  nightly/bridge.txt
  pytest/Pipfile
  pytest/Pipfile.lock
  pytest/lib/account.py
  pytest/lib/bridge.py
  pytest/lib/bridge_helpers/write_config.js
  pytest/lib/cluster.py
  pytest/lib/key.py
  pytest/lib/messages/__init__.py
  pytest/lib/messages/bridge.py
  pytest/lib/mocknet.py
  pytest/lib/reattempt.py
  pytest/lib/transaction.py
  pytest/lib/utils.py
  pytest/requirements.txt
  pytest/tests/bridge/end2end.py
  pytest/tests/bridge/multiple_relays.py
  pytest/tests/bridge/same_block.py
  pytest/tests/bridge/turn_off_relays.py
  pytest/tests/bridge/two_users.py
  pytest/tests/mocknet/load_testing_helper.py
  pytest/tests/sanity/rpc_state_changes.py
  pytest/tests/sanity/state_sync4.py
  pytest/tests/sanity/switch_node_key.py
  pytest/tests/sanity/validator_switch_key.py
Owners: none
