Repository near/nearcore, changes with the owners that CODEOWNERS names for each.
All owners: @SkidanovAlex, @bowenwang1996, @nearmax, @evgenykuzyakov

Refactor code
  chain/network/src/routing.rs
Owners: @SkidanovAlex, @bowenwang1996

Fix nonce loading
  chain/network/src/routing.rs
  core/store/src/db.rs
Owners: @SkidanovAlex, @bowenwang1996, @nearmax, @evgenykuzyakov

fix tests
  near/src/config.rs
  near/src/runtime.rs
Owners: @nearmax, @evgenykuzyakov, @SkidanovAlex, @bowenwang1996

reduce one more cpu to avoid timeout
  scripts/parallel_run_tests.py
Owners: none

run restart remotely
  pytest/tests/sanity/restart.py
Owners: none

Fix db merge conflict
  core/store/src/db.rs
Owners: @nearmax, @evgenykuzyakov, @SkidanovAlex, @bowenwang1996

one_val works
  pytest/lib/cluster.py
  pytest/remote.json
Owners: none

Nit
  runtime/near-runtime-fees/src/lib.rs
Owners: @nearmax, @evgenykuzyakov

gracefully kill
  pytest/lib/cluster.py
  pytest/tests/sanity/restart.py
Owners: none

rpc query remotely nodes[2] crash
  pytest/tests/sanity/rpc_query.py
Owners: none

refactor and fixes
  chain/chain/src/error.rs
  chain/chain/src/test_utils.rs
  chain/chain/src/types.rs
  chain/client/src/client_actor.rs
  chain/client/src/info.rs
  chain/epoch_manager/src/lib.rs
  chain/epoch_manager/src/proposals.rs
  core/primitives/src/views.rs
  near/src/runtime.rs
  near/tests/sync_nodes.rs
Owners: @SkidanovAlex, @bowenwang1996, @nearmax, @evgenykuzyakov

restrict newer cpu and rpc_query remote test works
  pytest/Pipfile
  pytest/Pipfile.lock
  pytest/lib/cluster.py
  pytest/remote.json
  pytest/requirements.txt
  pytest/tests/sanity/rpc_query.py
  pytest/tests/sanity/rpc_tx_forwarding.py
Owners: none

use minimum gas price as initial gas price
  chain/chain/src/chain.rs
  chain/chain/src/test_utils.rs
  chain/client/src/test_utils.rs
  chain/client/tests/process_blocks.rs
  chain/network/tests/announce_account.rs
  chain/network/tests/routing.rs
  genesis-tools/genesis-csv-to-json/src/csv_to_json_configs.rs
  genesis-tools/genesis-populate/src/lib.rs
  near/src/config.rs
  near/src/lib.rs
  near/src/runtime.rs
  near/tests/stake_nodes.rs
  test-utils/testlib/src/lib.rs
  test-utils/testlib/src/node/runtime_node.rs
  test-utils/testlib/src/standard_test_cases.rs
  test-utils/testlib/src/user/runtime_user.rs
  tests/test_errors.rs
Owners: @SkidanovAlex, @bowenwang1996, @nearmax, @evgenykuzyakov

fix tests
  chain/client/tests/process_blocks.rs
Owners: @SkidanovAlex, @bowenwang1996

fix tests
  chain/epoch_manager/src/lib.rs
  near/src/runtime.rs
Owners: @SkidanovAlex, @bowenwang1996, @nearmax, @evgenykuzyakov

cargo fmt
  chain/network/tests/cache_edges.rs
Owners: @SkidanovAlex, @bowenwang1996

Running a few more tests on remote
  pytest/tests/sanity/lightclnt.py
  pytest/tests/sanity/staking1.py
  pytest/tests/sanity/staking2.py
Owners: none

last two sanity tests
  pytest/tests/sanity/state_sync1.py
  pytest/tests/sanity/transactions.py
Owners: none

WIP parallel coverage
  scripts/__init__,py
  scripts/near-coverage-runtime.Dockerfile
  scripts/parallel_coverage.py
  scripts/parallel_run_tests.py
  scripts/testlib.py
Owners: none

Fishermen stake (#1828)
  chain/chain/src/error.rs
  chain/chain/src/test_utils.rs
  chain/chain/src/types.rs
  chain/chain/src/validate.rs
  chain/client/src/client.rs
  chain/client/src/client_actor.rs
  chain/client/src/info.rs
  chain/client/tests/challenges.rs
  chain/epoch_manager/src/lib.rs
  chain/epoch_manager/src/proposals.rs
  chain/epoch_manager/src/test_utils.rs
  chain/epoch_manager/src/types.rs
  core/primitives/src/views.rs
  genesis-tools/genesis-csv-to-json/src/csv_to_json_configs.rs
  near/src/config.rs
  near/src/runtime.rs
  near/src/shard_tracker.rs
Owners: @SkidanovAlex, @bowenwang1996, @nearmax, @evgenykuzyakov

Cache edges. (#1790)
  chain/network/src/peer.rs
  chain/network/src/routing.rs
  chain/network/src/test_utils.rs
  chain/network/tests/cache_edges.rs
  core/store/src/db.rs
  core/store/src/lib.rs
Owners: @SkidanovAlex, @bowenwang1996, @nearmax, @evgenykuzyakov

Add minimum gas price (#1819)
  chain/chain/src/chain.rs
  chain/chain/src/test_utils.rs
  chain/chain/tests/simple_chain.rs
  chain/client/src/client.rs
  chain/client/src/test_utils.rs
  chain/client/tests/challenges.rs
  chain/client/tests/process_blocks.rs
  core/primitives/benches/serialization.rs
  core/primitives/src/block.rs
  core/primitives/src/test_utils.rs
  genesis-tools/genesis-csv-to-json/src/csv_to_json_configs.rs
  genesis-tools/genesis-populate/src/lib.rs
  near/src/config.rs
  near/src/lib.rs
  near/src/runtime.rs
  near/tests/stake_nodes.rs
  near/tests/sync_nodes.rs
  scripts/nodelib.py
  test-utils/testlib/src/lib.rs
  test-utils/testlib/src/node/runtime_node.rs
  test-utils/testlib/src/standard_test_cases.rs
  test-utils/testlib/src/user/runtime_user.rs
  tests/test_errors.rs
Owners: @SkidanovAlex, @bowenwang1996, @nearmax, @evgenykuzyakov

Refactored AccessKey / AccessKeyList endpoints
  chain/chain/src/test_utils.rs
  chain/jsonrpc/tests/rpc_query.rs
  core/primitives/src/views.rs
  near/src/runtime.rs
  runtime/runtime/src/adapter.rs
  runtime/runtime/src/state_viewer.rs
  test-utils/loadtester/src/remote_node.rs
  test-utils/testlib/src/standard_test_cases.rs
  test-utils/testlib/src/user/mod.rs
  test-utils/testlib/src/user/rpc_user.rs
  test-utils/testlib/src/user/runtime_user.rs
Owners: @SkidanovAlex, @bowenwang1996, @nearmax, @evgenykuzyakov

Fixed tests (missing access keys return error instead of Ok(None/null))
  test-utils/testlib/src/standard_test_cases.rs
Owners: none

Fixed a typo
  chain/client/tests/cross_shard_tx.rs
Owners: @SkidanovAlex, @bowenwang1996

Expose block height at which given query RPC was performed (resolves #1778)
  chain/chain/src/test_utils.rs
  chain/jsonrpc/tests/rpc_query.rs
  core/primitives/src/views.rs
  near/src/runtime.rs
Owners: @SkidanovAlex, @bowenwang1996, @nearmax, @evgenykuzyakov

Formatting
  near/src/runtime.rs
Owners: @nearmax, @evgenykuzyakov, @SkidanovAlex, @bowenwang1996

fmt
  near/tests/stake_nodes.rs
Owners: @nearmax, @evgenykuzyakov, @SkidanovAlex, @bowenwang1996

Fixed access_key/* and access_key/*/* RPCs
  chain/jsonrpc/tests/rpc_query.rs
Owners: @SkidanovAlex, @bowenwang1996

Fixed other tests which used QueryResponse
  chain/chain/src/test_utils.rs
  chain/client/tests/catching_up.rs
  chain/client/tests/cross_shard_tx.rs
  chain/client/tests/query_client.rs
  chain/jsonrpc/tests/rpc_query.rs
  core/primitives/src/views.rs
  near/src/runtime.rs
  near/tests/rpc_nodes.rs
  near/tests/stake_nodes.rs
Owners: @SkidanovAlex, @bowenwang1996, @nearmax, @evgenykuzyakov

Fix some nightly tests
  pytest/tests/sanity/fork_sync.py
  pytest/tests/sanity/one_val.py
  pytest/tests/sanity/rpc_query.py
  pytest/tests/sanity/rpc_tx_forwarding.py
  pytest/tests/sanity/skip_epoch.py
  pytest/tests/sanity/state_sync.py
  pytest/tests/sanity/transactions.py
Owners: none

Fix some nightly tests (#1833)
  pytest/tests/sanity/fork_sync.py
  pytest/tests/sanity/one_val.py
  pytest/tests/sanity/rpc_query.py
  pytest/tests/sanity/rpc_tx_forwarding.py
  pytest/tests/sanity/skip_epoch.py
  pytest/tests/sanity/state_sync.py
  pytest/tests/sanity/transactions.py
Owners: none

Progressive Slashing
  Cargo.lock
  chain/chain/src/chain.rs
  chain/chain/src/test_utils.rs
  chain/chain/src/types.rs
  chain/epoch_manager/Cargo.toml
  chain/epoch_manager/src/lib.rs
  chain/epoch_manager/src/test_utils.rs
  chain/epoch_manager/src/types.rs
  core/primitives/src/challenge.rs
  near/src/runtime.rs
  near/src/shard_tracker.rs
  runtime/runtime/src/balance_checker.rs
  runtime/runtime/src/lib.rs
Owners: @SkidanovAlex, @bowenwang1996, @nearmax, @evgenykuzyakov

a doc comment added to run function
  runtime/near-vm-runner/src/runner.rs
Owners: @nearmax, @evgenykuzyakov

Exposed block height at which given query RPC was performed (resolves #1778)
  chain/chain/src/test_utils.rs
  chain/client/tests/catching_up.rs
  chain/client/tests/cross_shard_tx.rs
  chain/client/tests/query_client.rs
  chain/jsonrpc/tests/rpc_query.rs
  core/primitives/src/views.rs
  near/src/runtime.rs
  near/tests/rpc_nodes.rs
  near/tests/stake_nodes.rs
  runtime/runtime/src/adapter.rs
  runtime/runtime/src/state_viewer.rs
  test-utils/loadtester/src/remote_node.rs
  test-utils/testlib/src/standard_test_cases.rs
  test-utils/testlib/src/user/mod.rs
  test-utils/testlib/src/user/rpc_user.rs
  test-utils/testlib/src/user/runtime_user.rs
Owners: @SkidanovAlex, @bowenwang1996, @nearmax, @evgenykuzyakov

fix tests
  near/src/runtime.rs
Owners: @nearmax, @evgenykuzyakov, @SkidanovAlex, @bowenwang1996

txn test works
  pytest/tests/sanity/transactions.py
Owners: none

cleanup local file on exit for remote test
  pytest/lib/cluster.py
Owners: none

nearcore build in our official Docker image did not sent telemetry data (resolves #1840)
  Dockerfile
Owners: none

fix formatting and grammar
  runtime/near-vm-runner/src/runner.rs
Owners: @nearmax, @evgenykuzyakov

CODEOWNERS:

# CODEOWNERS: https://help.github.com/articles/about-codeowners/

/chain/ @SkidanovAlex @bowenwang1996 

/runtime/ @nearmax @evgenykuzyakov

/genesis-tools/ @nearmax

/core/ @nearmax @evgenykuzyakov @SkidanovAlex @bowenwang1996
/near/ @nearmax @evgenykuzyakov @SkidanovAlex @bowenwang1996
