Repository near/nearcore, changes with the owners that CODEOWNERS names for each.
All owners: @SkidanovAlex, @bowenwang1996, @frol, @evgenykuzyakov, @nearmax, @olonho, @fckt

CODEOWNERS:

# CODEOWNERS: https://help.github.com/articles/about-codeowners/

/chain/ @SkidanovAlex @bowenwang1996
/chain/jsonrpc/ @frol @evgenykuzyakov

/runtime/ @evgenykuzyakov @frol @nearmax
/runtime/runtime-params-estimator @olonho @nearmax
/runtime/runtime-standalone @frol @fckt
/runtime/near-vm-runner-standalone @frol @fckt

/genesis-tools/ @nearmax

/core/ @nearmax @evgenykuzyakov @SkidanovAlex @bowenwang1996
/neard/ @nearmax @evgenykuzyakov @SkidanovAlex @bowenwang1996

update protocol version
  core/chain-configs/src/lib.rs
  neard/res/genesis_config.json
  runtime/runtime-params-estimator/src/testbed.rs
  runtime/runtime-params-estimator/src/wasmer_estimator.rs
  scripts/migrations/11-expose-validator-method.py
Owners: @nearmax, @evgenykuzyakov, @SkidanovAlex, @bowenwang1996, @olonho

fix: clippy::map_entry (#442)
  chain/chunks/src/chunk_cache.rs
  chain/network/src/peer_store.rs
  chain/network/src/routing.rs
Owners: @SkidanovAlex, @bowenwang1996

fix: allow clippy::absurd_extreme_comparisons (#442)
  chain/network/src/peer.rs
Owners: @SkidanovAlex, @bowenwang1996

fix: clippy::clone_double_ref (#442)
  chain/client/src/test_utils.rs
  chain/jsonrpc/src/lib.rs
Owners: @SkidanovAlex, @bowenwang1996, @frol, @evgenykuzyakov

Added missing costs.
  neard/res/genesis_config.json
  runtime/near-vm-logic/src/config.rs
  scripts/migrations/11-runtime-cost-adjustment.py
Owners: @nearmax, @evgenykuzyakov, @SkidanovAlex, @bowenwang1996, @frol

Fix tests.
  neard/res/genesis_config.json
  runtime/near-vm-logic/tests/test_promises.rs
  scripts/migrations/11-runtime-cost-adjustment.py
Owners: @nearmax, @evgenykuzyakov, @SkidanovAlex, @bowenwang1996, @frol

fix(runtime costs): adjust runtime costs
  core/chain-configs/src/lib.rs
  runtime/near-runtime-fees/src/lib.rs
  runtime/near-vm-logic/src/config.rs
  runtime/near-vm-logic/tests/test_promises.rs
  runtime/near-vm-runner/tests/test_error_cases.rs
  runtime/near-vm-runner/tests/test_rs_contract.rs
  runtime/runtime-params-estimator/emu-cost/compare_costs.py
  scripts/migrations/11-runtime-cost-adjustment.py
Owners: @nearmax, @evgenykuzyakov, @SkidanovAlex, @bowenwang1996, @frol, @olonho

fix: clippy::single_char_pattern (#442)
  genesis-tools/genesis-csv-to-json/src/serde_with.rs
  neard/src/main.rs
Owners: @nearmax, @evgenykuzyakov, @SkidanovAlex, @bowenwang1996

fix: clippy::large_enum_variant (#442)
  chain/chain/src/chain.rs
  chain/chain/src/error.rs
  chain/chunks/src/lib.rs
  chain/client/src/client.rs
  chain/client/src/test_utils.rs
  chain/client/src/view_client.rs
  chain/network/src/peer.rs
  chain/network/src/peer_manager.rs
  chain/network/src/types.rs
  core/primitives/src/challenge.rs
Owners: @SkidanovAlex, @bowenwang1996, @nearmax, @evgenykuzyakov

Move staking key validation logic to verifier
  chain/jsonrpc/res/rpc_errors_schema.json
  core/crypto/src/key_conversion.rs
  core/primitives/src/errors.rs
  neard/src/genesis_validate.rs
  runtime/runtime/src/actions.rs
  runtime/runtime/src/verifier.rs
Owners: @frol, @evgenykuzyakov, @nearmax, @SkidanovAlex, @bowenwang1996

fix(storage): fix refcount bug
  chain/chain/src/chain.rs
  chain/chain/src/store.rs
  chain/chain/src/test_utils.rs
  chain/chain/src/types.rs
  chain/chain/tests/gc.rs
  chain/client/src/client.rs
  chain/client/src/view_client.rs
  core/store/benches/trie_bench.rs
  core/store/src/lib.rs
  core/store/src/test_utils.rs
  core/store/src/trie/mod.rs
  core/store/src/trie/state_parts.rs
  core/store/src/trie/trie_storage.rs
  core/store/src/trie/trie_tests.rs
  core/store/src/trie/update.rs
  genesis-tools/genesis-populate/src/lib.rs
  neard/src/runtime.rs
  runtime/runtime-params-estimator/src/testbed.rs
  runtime/runtime-standalone/src/lib.rs
  runtime/runtime/src/adapter.rs
  runtime/runtime/src/balance_checker.rs
  runtime/runtime/src/lib.rs
  runtime/runtime/src/state_viewer.rs
  runtime/runtime/src/verifier.rs
  runtime/runtime/tests/runtime_group_tools/mod.rs
  runtime/runtime/tests/test_regression.rs
  test-utils/state-viewer/src/main.rs
  test-utils/state-viewer/src/state_dump.rs
  test-utils/testlib/src/node/runtime_node.rs
  test-utils/testlib/src/runtime_utils.rs
  test-utils/testlib/src/user/runtime_user.rs
Owners: @SkidanovAlex, @bowenwang1996, @nearmax, @evgenykuzyakov, @olonho, @frol, @fckt

One more test
  runtime/near-vm-logic/tests/test_registers.rs
  runtime/near-vm-runner/tests/test_error_cases.rs
  runtime/near-vm-runner/tests/test_rs_contract.rs
Owners: @evgenykuzyakov, @frol, @nearmax

fix(runtime costs): adjust runtime costs (#2574)
  core/chain-configs/src/lib.rs
  runtime/near-runtime-fees/src/lib.rs
  runtime/near-vm-logic/src/config.rs
  runtime/near-vm-logic/tests/test_promises.rs
  runtime/near-vm-logic/tests/test_registers.rs
  runtime/near-vm-runner/tests/test_error_cases.rs
  runtime/near-vm-runner/tests/test_rs_contract.rs
  runtime/runtime-params-estimator/emu-cost/compare_costs.py
  scripts/migrations/11-runtime-cost-adjustment.py
Owners: @nearmax, @evgenykuzyakov, @SkidanovAlex, @bowenwang1996, @frol, @olonho
