Repository near/nearcore, changes with the owners that CODEOWNERS names for each.
All owners: @SkidanovAlex, @bowenwang1996, @frol, @evgenykuzyakov, @khorolets, @chain-police, @olonho, @willemneal, @ailisp, @nearmax

CODEOWNERS:

# CODEOWNERS: https://help.github.com/articles/about-codeowners/

/chain/ @SkidanovAlex @bowenwang1996
/chain/jsonrpc/ @frol @evgenykuzyakov
/chain/indexer/ @khorolets @frol
/chain/rosettarpc/ @frol

/runtime/ @evgenykuzyakov @chain-police
/runtime/runtime-params-estimator/ @olonho @willemneal
/runtime/near-vm-runner/ @olonho @ailisp

/genesis-tools/ @nearmax
/tools/rpctypegen/ @chain-police
/tools/indexer/ @khorolets @frol

/core/  @bowenwang1996 @frol @evgenykuzyakov @nearmax @SkidanovAlex
/neard/ @bowenwang1996 @frol @evgenykuzyakov @nearmax @SkidanovAlex

fix(jsonrpc): Fixed race condition in broadcast_tx_* methods
  chain/jsonrpc/src/lib.rs
Owners: @frol, @evgenykuzyakov

add to nightly
  nightly/nightly.txt
Owners: none

fix(network): correctly compare epoch id when processing account announcement (#3058)
  chain/client/src/view_client.rs
  nightly/nightly.txt
  pytest/lib/cluster.py
  pytest/tests/sanity/switch_node_key.py
Owners: @SkidanovAlex, @bowenwang1996

Formatting
  chain/chunks/src/lib.rs
Owners: @SkidanovAlex, @bowenwang1996

Revert "fix(rpc): do not serve rpc while the node is syncing (#2985)" (#3059)
  chain/jsonrpc/client/src/lib.rs
  chain/jsonrpc/src/lib.rs
  chain/jsonrpc/tests/rpc_transactions.rs
  pytest/tests/sanity/rpc_sync.py
Owners: @frol, @evgenykuzyakov

fix(chain): ban peer properly when receiving a bad block (#3029)
  chain/chain/src/chain.rs
  chain/chain/src/error.rs
  chain/chain/src/store.rs
  chain/chain/src/test_utils.rs
  chain/chain/src/types.rs
  chain/client/src/client.rs
  chain/client/src/client_actor.rs
  chain/client/tests/challenges.rs
  chain/client/tests/process_blocks.rs
  core/primitives/src/block.rs
  core/primitives/src/version.rs
  core/store/src/db.rs
  neard/src/lib.rs
  neard/src/runtime.rs
Owners: @SkidanovAlex, @bowenwang1996, @frol, @evgenykuzyakov, @nearmax

fix(jsonrpc): Fixed race condition in broadcast_tx_* methods
  chain/jsonrpc/src/lib.rs
Owners: @frol, @evgenykuzyakov

fix(chain): ban peer properly when receiving a bad block (#3029)
  chain/chain/src/chain.rs
  chain/chain/src/error.rs
  chain/chain/src/store.rs
  chain/chain/src/test_utils.rs
  chain/chain/src/types.rs
  chain/client/src/client.rs
  chain/client/src/client_actor.rs
  chain/client/tests/challenges.rs
  chain/client/tests/process_blocks.rs
  core/primitives/src/block.rs
  core/primitives/src/version.rs
  core/store/src/db.rs
  neard/src/lib.rs
  neard/src/runtime.rs
Owners: @SkidanovAlex, @bowenwang1996, @frol, @evgenykuzyakov, @nearmax

fix(jsonrpc): Fixed race condition in broadcast_tx_* methods
  chain/jsonrpc/src/lib.rs
Owners: @frol, @evgenykuzyakov

bump neard version
  Cargo.lock
  neard/Cargo.toml
Owners: @bowenwang1996, @frol, @evgenykuzyakov, @nearmax, @SkidanovAlex

fix(jsonrpc): Fixed race condition in broadcast_tx_* methods (#3061)
  chain/jsonrpc/src/lib.rs
Owners: @frol, @evgenykuzyakov

(fix): Making stress.py with node_restart mode pass, and fixing #2916 (#3036)
  chain/chunks/src/lib.rs
  chain/client/src/client_actor.rs
  chain/client/src/info.rs
  chain/client/src/sync.rs
  chain/client/src/types.rs
  nightly/nightly.txt
  pytest/lib/cluster.py
  pytest/lib/peer.py
  pytest/lib/serializer.py
  pytest/tests/sanity/repro_2916.py
  pytest/tests/stress/stress.py
Owners: @SkidanovAlex, @bowenwang1996

Update README.md
  README.md
Owners: none

Update README.md
  README.md
Owners: none

Up the download size to 2.5GB
  neard/src/config.rs
Owners: @bowenwang1996, @frol, @evgenykuzyakov, @nearmax, @SkidanovAlex

Up the download size to 2.5GB (#3066)
  neard/src/config.rs
Owners: @bowenwang1996, @frol, @evgenykuzyakov, @nearmax, @SkidanovAlex

fix: gas price
  chain/chain/src/types.rs
  core/primitives/src/version.rs
  pytest/tests/sanity/upgradable.py
Owners: @SkidanovAlex, @bowenwang1996, @frol, @evgenykuzyakov, @nearmax

add view_head
  test-utils/state-viewer/src/main.rs
Owners: none

fix
  neard/res/genesis_config.json
Owners: @bowenwang1996, @frol, @evgenykuzyakov, @nearmax, @SkidanovAlex

Change download size message
  neard/src/config.rs
Owners: @bowenwang1996, @frol, @evgenykuzyakov, @nearmax, @SkidanovAlex

Change download size message (#3069)
  neard/src/config.rs
Owners: @bowenwang1996, @frol, @evgenykuzyakov, @nearmax, @SkidanovAlex

Check if AVX is available.
  runtime/near-vm-runner/src/wasmer_runner.rs
Owners: @olonho, @ailisp

Automatic version bump from 1.8.0-beta.2 to 1.8.0-rc.1
  neard/Cargo.toml
Owners: @bowenwang1996, @frol, @evgenykuzyakov, @nearmax, @SkidanovAlex

Automatic version bump from 1.7.0-rc.5 to 1.7.0
  neard/Cargo.toml
Owners: @bowenwang1996, @frol, @evgenykuzyakov, @nearmax, @SkidanovAlex

Automatic version bump from 1.2.0 to 1.9.0-beta.1
  neard/Cargo.toml
Owners: @bowenwang1996, @frol, @evgenykuzyakov, @nearmax, @SkidanovAlex

Formatting.
  runtime/near-vm-runner/src/wasmer_runner.rs
Owners: @olonho, @ailisp

testnet hot fix
  Cargo.lock
  chain/client/src/client.rs
Owners: @SkidanovAlex, @bowenwang1996

Revert "fix(rpc): do not serve rpc while the node is syncing (#2985)" (#3059)
  chain/jsonrpc/client/src/lib.rs
  chain/jsonrpc/src/lib.rs
  chain/jsonrpc/tests/rpc_transactions.rs
  pytest/tests/sanity/rpc_sync.py
Owners: @frol, @evgenykuzyakov

fix(chain): ban peer properly when receiving a bad block (#3029)
  Cargo.lock
  chain/chain/src/chain.rs
  chain/chain/src/error.rs
  chain/chain/src/store.rs
  chain/chain/src/test_utils.rs
  chain/chain/src/types.rs
  chain/client/src/client.rs
  chain/client/src/client_actor.rs
  chain/client/tests/challenges.rs
  chain/client/tests/process_blocks.rs
  core/primitives/src/block.rs
  core/primitives/src/version.rs
  core/store/src/db.rs
  neard/src/lib.rs
  neard/src/runtime.rs
Owners: @SkidanovAlex, @bowenwang1996, @frol, @evgenykuzyakov, @nearmax

fix(jsonrpc): Fixed race condition in broadcast_tx_* methods
  chain/jsonrpc/src/lib.rs
Owners: @frol, @evgenykuzyakov

Version bump from 1.8.0-rc.1 to 1.8.0-rc.2
  neard/Cargo.toml
Owners: @bowenwang1996, @frol, @evgenykuzyakov, @nearmax, @SkidanovAlex

Example of standalone runner. (#3011)
  runtime/near-vm-runner-standalone/README.md
Owners: @evgenykuzyakov, @chain-police

fix: prevent repetitive initialization on node start
  chain/chain/src/chain.rs
  chain/chain/src/test_utils.rs
  chain/chain/src/types.rs
  core/chain-configs/src/genesis_config.rs
  genesis-tools/genesis-populate/src/lib.rs
  neard/src/runtime.rs
Owners: @SkidanovAlex, @bowenwang1996, @frol, @evgenykuzyakov, @nearmax

refactor: remove deprecated DevNet (#3034)
  .github/ISSUE_TEMPLATE/bug_report.md
  README.md
  neard/src/config.rs
Owners: @bowenwang1996, @frol, @evgenykuzyakov, @nearmax, @SkidanovAlex

Version bump from 1.2.0 to 1.8.0-beta.2
  neard/Cargo.toml
Owners: @bowenwang1996, @frol, @evgenykuzyakov, @nearmax, @SkidanovAlex

mainnet update (#3039)
  neard/res/mainnet_genesis.json
Owners: @bowenwang1996, @frol, @evgenykuzyakov, @nearmax, @SkidanovAlex

fix: do not garbage collect prev block of sync block before state sync (#3043)
  chain/chain/src/chain.rs
  chain/chain/src/store.rs
  chain/client/tests/process_blocks.rs
Owners: @SkidanovAlex, @bowenwang1996

Revert "fix(rpc): do not serve rpc while the node is syncing (#2985)" (#3059)
  chain/jsonrpc/client/src/lib.rs
  chain/jsonrpc/src/lib.rs
  chain/jsonrpc/tests/rpc_transactions.rs
  pytest/tests/sanity/rpc_sync.py
Owners: @frol, @evgenykuzyakov

testnet hot fix
  Cargo.lock
  chain/client/src/client.rs
Owners: @SkidanovAlex, @bowenwang1996

fix(chain): ban peer properly when receiving a bad block (#3029)
  Cargo.lock
  chain/chain/src/chain.rs
  chain/chain/src/error.rs
  chain/chain/src/store.rs
  chain/chain/src/test_utils.rs
  chain/chain/src/types.rs
  chain/client/src/client.rs
  chain/client/src/client_actor.rs
  chain/client/tests/challenges.rs
  chain/client/tests/process_blocks.rs
  core/primitives/src/block.rs
  core/primitives/src/version.rs
  core/store/src/db.rs
  neard/src/lib.rs
  neard/src/runtime.rs
Owners: @SkidanovAlex, @bowenwang1996, @frol, @evgenykuzyakov, @nearmax
